<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-card-title id="cancer"><b>What is Skin Cancer?</b></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Skin cancer occurs in epidermal cells, the top or outer layer of the skin. Ultraviolet (UV)
      radiation penetrates the skin and damages the DNA of skin cells. If the body is unable to repair
      the damage, cells begin to divide and grow uncontrollably. This growth eventually leads to
      tumours.<br><br>
    </p>
    <img src="../../../assets/img/info-pic1.jpg"/>
    <p style="text-align: center">Figure 1: How cancer starts<br></p>
    <p style="font-size: 15px;">Source: What is cancer?.(2019). Retrieved from <a href="https://www.cancercouncil.com.au/2404/cancer-information/all-about-cancer/">https://www.cancercouncil.com.au/2404/cancer-information/all-about-cancer/</a><br><br></p>
    <img src="../../../assets/img/info-pic2.jpg"/>
    <p style="text-align: center">Figure 2: How cancer spreads<br></p>
    <p style="font-size: 15px;">Source: What is cancer?.(2019). Retrieved from <a href="https://www.cancercouncil.com.au/2404/cancer-information/all-about-cancer/">https://www.cancercouncil.com.au/2404/cancer-information/all-about-cancer/</a><br></p>
  </mat-card-content>
</mat-card>