<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-card-title id="cancer"><b>What is Skin Cancer?</b></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Skin cancer occurs in epidermal cells, the top or outer layer of the skin; Ultraviolet (UV)
      radiation penetrates the skin and damages the DNA of skin cells; If the body is unable to repair
      the damage, cells begin to divide and grow uncontrollably; This growth eventually leads to
      tumours (Cancer Council Australia, 2019).
      <br><br>
    </p>
  </mat-card-content>
  <mat-card-header>
    <mat-card-title><b>References</b></mat-card-title>
  </mat-card-header>
  <p>How ultraviolet(UV) radiation causes skin cancer - Cancer Council Australia. (2019). Retrieved from <a href="https://www.cancercouncil.com.au/63295/cancer-prevention/sun-protection/sun-protection-sport-and-recreation/sun-protection-information-for-sporting-groups/how-ultraviolet-uv-radiation-causes-skin-cancer/">https://www.cancercouncil.com.au/63295/cancer-prevention/sun-protection/sun-protection-sport-and-recreation/sun-protection-information-for-sporting-groups/how-ultraviolet-uv-radiation-causes-skin-cancer/</a></p>
</mat-card>