mat-card {
    margin: 20px 20px 20px 20px;
    text-align: center;
    padding: 20px;
}

mat-card-content .info {
    text-align: justify;
    text-justify: inter-word;
}

.page-nav{
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul li {
    text-align: justify;
}

p {
  font-size: 16px;
  line-height: 18pt;
}

li {
    font-size: 16px;
    line-height: 18pt;
}


