<!--
  <mat-card class="prefooter">  
</mat-card>
-->
<mat-card>
    <p></p>
    <div fxLayout="row wrap" ngClass.lt-md="mobile-footer">
        <div fxFlex.lt-md=100% fxFlex.gt-sm=33.33% fxLayout="column">
            <a routerLink="/home">Home</a>
            <a routerLink="/compare">Skin Cancer Statistics</a>
            <a routerLink="/skin-cancer">Skin Cancer Information</a>
        </div>
        <div fxFlex.lt-md=100% fxFlex.gt-sm=33.33% fxLayout="column">
            <a routerLink="/prevention">SPF Recommendation</a>
            <a routerLink="/map">Access to Clinics</a>
            <a routerLink="/trip">Plan Your Trip</a>
        </div>
        <div fxFlex.lt-md=100% fxFlex.gt-sm=33.33% fxLayout="column">
            <div fxHide.gt-sm="true" fxFlex=100%><p></p></div>
            <a><b>Made by VectorFive @ 2019</b></a>
        </div>
    </div>
    <p></p>
</mat-card>