<div fxLayout fxLayout.lt-md="column">
  <div fxFlex=40%>
    <mat-card>
      <img src="../../assets/img/facebook_profile_image.png">
    </mat-card>
  </div>
  <div fxFlex=60% style="display: flex">
    <mat-card class="right-card">
      <mat-card-header>
        <mat-card-title>About us</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Smiling Skin is established in 2019, and is a website in Australia to work on skin cancer in Victoria,
          from research to prevention and support. The website mainly help international students aged 19 to 24,
          give them medical advice and protection recommendation, and provide the function of locating the
          appropriate skin clinic.<br><br>
        </p>
      </mat-card-content>
      <mat-card-header>
        <mat-card-title>Our vision</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          The vision of Smiling Skin is to raise awareness of skin cancer among international university students
          aged from 19 to 24 and improve the wellbeing of people who suffer from cancer, provide treatment advice
          to potential patients, offer protection advice to the general public.<br><br>
        </p>
      </mat-card-content>
      <mat-card-header>
        <mat-card-title>Our mission</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Smiling Skin’s mission is to provide a cohesive approach to reduce the impact of skin cancer. It is
          committed to undertaking skin cancer research, prevent skin cancer, and provide information and data,
          and support for people affected by cancer. Smiling Skin also designs a forum platform so that patients,
          potential patients, recovered patients and the general public could communicate with each other.<br><br>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>