<div class="main-image-wrap">
  <img src='../../assets/img/skin-cancer-statistics.jpg' class="main-image"/>
  <p class="main-slogan">SKIN CANCER STATISTICS</p>
</div>
<div>
  <div fxLayout fxLayout.lt-md="column">
    <div fxFlex=15%></div>
    <div fxFlex=35%>
        <p class="second-block" style="text-align: left">Skin Cancer Facts</p>
        <p class="content-text">
          About two-thirds of Australians are diagnosed with skin cancer at age 70. 
          Non-melanoma skin cancer is more common in men, with an incidence almost double that of women (<a href="https://www.cancer.org.au/about-cancer/types-of-cancer/skin-cancer.html">Cancer Council Australia, 2019</a>).<br><br>
          Melanoma is the third most common cancer in Australia except for non-melanoma skin cancer. 
          13,694 Australians were diagnosed with melanoma in 2015 (<a href="https://www.cancer.org.au/about-cancer/types-of-cancer/skin-cancer.html">Cancer Council Australia, 2019</a>).
        </p>
    </div>
    <div fxFlex=35%>
        <p class="content-text"><br><br>Every year in Australia (<a href="https://www.cancer.org.au/about-cancer/types-of-cancer/skin-cancer.html">Cancer Council Australia, 2019</a>):<br>
    </p>
    <ul class="content-text-item">
      <li>About 80% of all newly diagnosed cancers are skin cancers.</li>
      <li>Most skin cancers are caused by exposure to the sun.</li>
      <li>The general practitioner has more than 1 million patients consulting skin cancer every year.</li>
      <li>Around 2000 Australians die each from skin cancer every year.</li>
    </ul>
    <p class="content-text">In 2016, 1960 people died of skin cancer, 1281 from melanoma and 679 from non-melanoma skin cancer in Australia (<a href="https://www.cancer.org.au/about-cancer/types-of-cancer/skin-cancer.html">Cancer Council Australia, 2019</a>).</p>
    <!-- <p class="content-text">What is Skin Cancer - Cancer Council Australia. (2019). Retrieved from <a href="https://www.cancer.org.au/about-cancer/types-of-cancer/skin-cancer.html">https://www.cancer.org.au/about-cancer/types-of-cancer/skin-cancer.html</a><br><br></p> -->
    </div>
    <div fxFlex=15%></div>
  </div>
  <div class="mat-elevation-z8">
    <iframe src='https://public.tableau.com/views/finalwithhighlight/Dashboard1?:showVizHome=no'></iframe>
    <!-- <div class='tableauPlaceholder' id='viz1558011937416' style='position: relative'>
      <noscript>
        <a href=''>
          <img alt=' ' src='https://public.tableau.com.static/images/fi/finalwithhighlight/Dashboard1/1_rss.png' style='border: none' />
        </a>
      </noscript>
      <object class='tableauViz'  style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
         <param name='embed_code_version' value='3' /> 
         <param name='site_root' value='' />
         <param name='name' value='finalwithhighlight/Dashboard1' />
         <param name='tabs' value='no' />
         <param name='toolbar' value='yes' />
         <param name='static_image' value='https://public.tableau.com/static/images/fi/finalwithhighlight/Dashboard1/1.png' /> 
         <param name='animate_transition' value='yes' />
         <param name='display_static_image' value='yes' />
         <param name='display_spinner' value='yes' />
         <param name='display_overlay' value='yes' />
         <param name='display_count' value='yes' />
         <param name='filter' value='publish=yes' />
        </object>
      </div>    
      <script type='text/javascript'>
        var divElement = document.getElementById('viz1558011937416');
        var vizElement = divElement.getElementsByTagName('object')[0];
        if ( divElement.offsetWidth > 800 ) { 
          vizElement.style.width='1000px';
          vizElement.style.height='827px';} 
        else if ( divElement.offsetWidth > 500 ) { 
          vizElement.style.width='1000px';
          vizElement.style.height='827px';
        } else { 
          vizElement.style.width='100%';
          vizElement.style.height='1627px';
        }
        
        var scriptElement = document.createElement('script'); 
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';     
        vizElement.parentNode.insertBefore(scriptElement, vizElement);
      </script> -->
  </div>
</div>

