<!--
  <owl-carousel [options]="mySlideOptions" [items]="myCarouselImages" [carouselClasses]="['owl-theme', 'sliding']" >
  <div class="item" *ngFor="let image of mySlideImages; let i = index">
   <div class="container">
     <img src={{image}}/>
   </div>
  </div>
 </owl-carousel>

-->
<div>
  <iframe src='http://public.tableau.com/views/skin_cancer/Dashboard1?:embed=y&:showVizHome=no&:host_url=https%3A%2F%2Fpublic.tableau.com%2F&:embed_code_version=3&:tabs=no&:toolbar=no&:animate_transition=yes&:display_static_image=no&:display_spinner=yes&:display_overlay=yes&:display_count=yes&:loadOrderID=0'></iframe>
</div>
