<div>
  <div fxLayout fxLayout.lt-md="column">
    <div fxFlex=50%>
        <p class="second-block">Skin Cancer Facts</p>
        <p class="content-text">About two-thirds of Australians are diagnosed with skin cancer at age 70. Non-melanoma skin cancer is more common in men, with an incidence almost double that of women.<br>
            Excluding non-melanoma skin cancer, melanoma is Australia’s third most common cancer. In 2015, 13,694 Australians were diagnosed with melanoma.
        </p>
    </div>
    <div fxFlex=50% style="padding-right:15px">
        <p class="content-text"><br><br>Every year in Australia:<br>
    </p>
    <ul class="content-text-item">
      <li>Skin cancer accounts for about 80% of all newly diagnosed cancers.</li>
      <li>Most skin cancers are caused by exposure to sunlight.</li>
      <li>Global Positioning System (GPS) consults more than 1 million patients with skin cancer every year.</li>
      <li>The incidence of skin cancer is the highest in the world, two to three times that of Canada, the United States and the United Kingdom.</li>
      <li>More than 2000 Australians die each from skin cancer every year.</li>
    </ul>
    <p class="content-text">In 2016, 1960 people died of skin cancer, 1281 from melanoma and 679 from non-melanoma skin cancer in Australia.<br><br></p>
    </div>
  </div>
  <div class="mat-elevation-z8">
    <iframe src='https://public.tableau.com/views/finalwithhighlight/Dashboard1?:showVizHome=no'></iframe>
  </div>
</div>