<mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title><b>Causes of Skin Cancer</b></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Ultraviolet (UV) radiation is the main cause of skin cells becoming cancer cells. 
        In most parts of Victoria, UV radiation levels are high enough to damage the skin for most of the year (Cancer Council Australia, 2019).
        <br><br>
        According to Cancer Council Australia (2019), below are the causes of skin cancer.
        <br><br>
      </p>
    </mat-card-content>
    <mat-card-header>
      <mat-card-title>Sunburn</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Sunburn causes 95% of melanoma, the deadliest form of skin cancer. 
        In Australia, one in eight adults and one in five teenagers get sunburn on the average weekend in summer. 
        Many people get sunburn when they go to the beach or swimming pool, and when they are gardening or barbecuing. 
        <br><br>
        Sunburn is also common in cloudy or cold days. 
        Many people believe that UV radiation is not strong on those days. 
        However, this is not the case, you can still get sunburn even when outside is cold. 
        Exposure to sunlight does not cause burns, but it still damages the skin cells and increases the risk of skin cancer. 
        Regular annual exposure to UV radiation can also lead to skin cancer.
        <br><br>
      </p>
    </mat-card-content>
    <mat-card-header>
      <mat-card-title>Tanning</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Half of all Australian adults thinks tanning is healthy and most Australians would say tanning is “healthy”. 
        Sun tanning is a sign that you were exposed to UV radiation. 
        With enough UV radiation from sunbathing, you can damage your skin. 
        This leads to many problems on the skin, such as wrinkles due to loss of elasticity, sagginess, discolouration, brown plaques and eventually, the increased risk of skin cancer. 
        <br><br>
        Tanning gives only around SPF3 of sunscreen protection depending on skin type, which is limited compared to using actual sunscreen. 
        In addition, a tan will not stop DNA damage. 
        DNA damage can lead to skin cancer.
        <br><br>
        Fake tans will not protect users against UV radiation, but some people mistakenly believe it will. 
        Therefore, they may not take measures to protect themselves from the sun, making them more susceptible to skin cancer.
        <br><br>
      </p>
    </mat-card-content>
    <mat-card-header>
      <mat-card-title>Solariums</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Solariums produce Ultraviolet A (UVA) and Ultraviolet B (UVB) radiation, both of which are known to cause skin cancer. 
        The Cancer Committee of Australia does not recommend the use of solarium for sunless tanning under any conditions. 
        Since January 2016, All Australian states banned the operation of commercial solariums. 
        <br><br>
        Using solariums will increase your risk of skin cancer as the UV radiation from the machine can be as strong as the sun during the midday of summer season.
        <br><br>
      </p>
    </mat-card-content>
    <mat-card-header>
      <mat-card-title><b>References</b></mat-card-title>
    </mat-card-header>
    <p>Skin cancer - Cancer Council Australia. (2019). Retrieved from <a href="https://www.cancer.org.au/about-cancer/types-of-cancer/skin-cancer.html">https://www.cancer.org.au/about-cancer/types-of-cancer/skin-cancer.html</a></p>
  </mat-card>