<mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title><b>Causes of skin cancer</b></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Ultraviolet radiation is the main cause of skin cells becoming cancer cells. In most parts of Victoria,
        ultraviolet radiation levels are high enough to damage the skin for most of the year.
        <br><br>
      </p>
    </mat-card-content>
    <mat-card-header>
      <mat-card-title>Sunburn</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Sunburn causes 95% of melanoma, the most deadly form of skin cancer.
        In Australia, one in eight adults and one in five teenagers get sunburn on the average weekend in summer. Many
        people get sunburn when they participate in water sports and activities on the beach or swimming pool, and
        when they gardening or barbecuing.
        Sunburn is also common in cold or cloudy days, because many people mistakenly believe that ultraviolet
        radiation is not so strong. This is not true - you can still get sunburn when the temperature is low.
        Exposure to sunlight does not cause burns, but it still causes damage to skin cells and increases the risk of
        skin cancer. There is evidence that regular annual exposure to ultraviolet radiation can also lead to skin
        cancer.
        <br><br>
      </p>
    </mat-card-content>
    <mat-card-header>
      <mat-card-title>Tanning</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Although many Australians say tanning is "healthy tanning", tanning is not a sign of health or happiness.
        Almost half of the Australian adults still believe that tanning looks healthy.
        Sun tanning is a sign that you have been exposed to enough ultraviolet radiation (from the sun or sunbathing)
        to damage your skin. This eventually leads to skin loss of elasticity (wrinkles), sagging, yellowish
        discoloration, and even brown plaques. Worst of all, it increases your risk of skin cancer.
        Sun tanning provides limited sunscreen protection, usually equivalent to SPF3, depending on your skin type. It
        does not prevent DNA damage, which can lead to skin cancer.
        Some people mistakenly believe that using fake tanning agents can protect them from ultraviolet radiation.
        Therefore, they may not take sunscreen measures to make them more susceptible to skin cancer. More information
        about fake tans can be found in the Cancer Commission's position statement on fake Tans.
        <br><br>
      </p>
    </mat-card-content>
    <mat-card-header>
      <mat-card-title>Solariums</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Both ultraviolet A and B radiation are known causes of cancer. The Cancer Committee does not recommend
        sunbathing for cosmetic Tanning under any circumstances.
        As of January 2016, commercial sunbathing was banned in all Australian states. The bill also prohibits
        commercial sunbathing. There is no commercial sunbathing in the Northern Territory.
        More information on sunbathing can be found in the Cancer Commission's position statement on sunbathing.
        There are many risk factors that increase the risk of melanoma, including white skin, high number of nevus,
        family history and sunbathing throughout life, especially in childhood.
        Importantly, melanoma can occur anywhere in the skin, even in places with little or no sunlight, such as the
        mouth or sole of the foot.
      </p>
    </mat-card-content>
  </mat-card>