<mat-card class="mat-elevation-z8">
    <mat-card-title><b>Diagnosis of Skin Cancer</b></mat-card-title>
    <mat-card-content>
      <p>
        Skin cancer is the most common cancer treated by Australian General Practitioner (GPs). 
        General practitioners are also responsible for most skin cancer resections, and more and more surgical repairs (skins and grafts) are underway. 
        A study of Australian GPs shows that GPs, which specializes in skin cancer, has higher diagnostic accuracy than normal GPs (<a href="https://wiki.cancer.org.au/skincancerstats/Detection_and_screening">Cancer Council Australia, 2019</a>). 
        Although the treatment of skin cancer in the past was mainly carried out by general practitioners, the number of skin cancer clinics has increased rapidly in recent years (<a href="https://wiki.cancer.org.au/skincancerstats/Detection_and_screening">Cancer Council Australia, 2019</a>). 
        Skin cancer clinics may not be able to provide a higher level of expertise than your family doctor, so it is important to investigate the services they provide and the training they receive from their employees (<a href="http://www.sunsmart.com.au/downloads/resources/info-sheets/consumer-guide-to-skin-clinics-info-sheet.pdf">Consumer guide to skin clinics, 2017</a>). 
        According to <a href="http://www.sunsmart.com.au/downloads/resources/info-sheets/consumer-guide-to-skin-clinics-info-sheet.pdf">Consumer guide to skin clinics (2017)</a>, when choosing a skin cancer clinic, you should consider:<br></p>
      <ul>
        <li>Employee-Qualification and Experience</li>
        <li>Cost</li>
        <li>Diagnosis and ervices offered</li>
        <li>Follow-up services.</li>
      </ul>
      <p>
        <br>
        Please check your skin on a timely basis. 
        We don't provide any recommendations regarding which GP you should seek.
        If you notice any changes, please consult your GP. 
        If your GP suspects you have skin cancer, they may have a biopsy (take a small piece of tissue under the microscope for inspection) or refer you to consult an expert (<a href="https://www.cancervic.org.au/cancer-information/types-of-cancer/skin_cancers_non_melanoma/diagnosing_skin_cancer.html">Cancer Council Victoria, 2019</a>).
        <br><br>
      </p>
    </mat-card-content>
    <p class="page-nav">
      <b>
        <span class="previous">
          &lt; Previous: <a routerLink="/skin-cancer/symptoms">Symptoms</a>
        </span> | 
        <span class="top">
          Top: <a [routerLink]="" (click)=backToTop()>Back to Top</a>
        </span> | 
        <span class="next">
          Next: <a routerLink="/skin-cancer/treatment">Treatment</a> >
        </span>
      </b>
    </p>
  </mat-card>