<mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title><b>Diagnosis of Skin Cancer</b></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Skin cancer is the most common cancer treated by Australian General Practitioner (GPs). 
        General practitioners are also responsible for most skin cancer resections, and more and more surgical repairs (skins and grafts) are underway. 
        A study of Australian GPs shows that GPs, which specializes in skin cancer, has higher diagnostic accuracy than normal GPs. 
        Although the treatment of skin cancer in the past was mainly carried out by general practitioners, the number of skin cancer clinics has increased rapidly in recent years. 
        Skin cancer clinics may not be able to provide a higher level of expertise than your family doctor, so it is important to investigate the services they provide and the training they receive from their employees. When choosing a skin cancer clinic, you should consider:<br></p>
      <ul>
        <li>Employee-Qualification and Experience</li>
        <li>Cost</li>
        <li>Diagnosis and ervices offered</li>
        <li>Follow-up services.</li>
      </ul>
      <p>
        <br>
        Our website does not operate or recommend any specific skin cancer clinic or doctor. 
        It is important to check your skin regularly. 
        If you notice any changes, please consult your GP. 
        If your GP suspects you have skin cancer, they may have a biopsy (take a small piece of tissue under the microscope for inspection) or refer you to consult an expert.
      </p>
    </mat-card-content>
  </mat-card>