<mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title><b>Diagnosis for skin cancer</b></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Skin cancer is the most common cancer managed by general practitioners (GPs) in Australia. GPs are also
        responsible for most skin cancer resections, and more and more surgical repairs (flaps and grafts) are being
        performed. A study of Australian GPs shows that GPs who are specializing in skin cancer has higher diagnostic
        accuracy than GPs in general practice. Although the treatment of skin cancer used to be carried out mainly by
        general practitioners, the number of skin cancer clinics has increased rapidly in recent years.
        Skin cancer clinics may not offer a higher level of expertise than your family doctor, so it is important to
        investigate in advance what services they provide and what training their employees have received. When
        choosing a skin cancer clinic, consideration should be given to:<br></p>
      <ul>
        <li>employee-Qualification and Experience</li>
        <li>cost</li>
        <li>diagnosis and services offered</li>
        <li>follow-up services.</li>
      </ul>
      <p id="treatment">
        <br>
        Our website does not operate or recommend any specific skin cancer clinic or doctor.
        It's important to check your skin regularly. If you find any changes, consult your GP. If your GP suspects
        that you have skin cancer, they may perform a biopsy (take a small sample of tissue under a microscope for
        examination), or refer you to consult an expert.
      </p>
    </mat-card-content>
  </mat-card>