<mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title><b>Preventing Skin Cancer</b></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        In order to achieve the best protection effect, when the ultraviolet radiation level is 3 or above, we
        recommend combining some protection measures:<br></p>
      <ul>
        <li>Put on some sun-protective clothes - cover the skin as much as possible</li>
        <li>Apply on broad spectrum, waterproof SPF30 + sunscreen. Wear it 20 minutes before you go out, then every
          two
          hours. Sunscreen should not be used to extend your time in the sun.</li>
        <li>Apply on broad spectrum, waterproof SPF30 + sunscreen. Wear it 20 minutes before you go out, then every
          two
          hours. Sunscreen should not be used to extend your time in the sun.
        </li>
        <li>Wear a hat to protect your face, head, neck and ears</li>
        <li>Looking for shadows</li>
        <li>Wear Sunglasses - Make sure they meet Australian standards.</li>
      </ul>
      <p>
        <br>
        Be extra careful on the day with the highest ultraviolet intensity.
        For more real time protection recommendations, please visit our website on prevention.<br><br>
      </p>
      <img src="../../../assets/img/info-pic3.jpg"/>
    </mat-card-content>
  </mat-card>