<div>
  <div class="main-image-wrap">
    <img src='../../assets/img/prevention.jpg' class="main-image" />
  </div>
  <p class="main-slogan">PREVENTION</p>
</div>
<div>
  <p class="second-block"><br>RECOMMENDATIONS BASED ON THE CURRENT RISK LEVEL</p>
</div>
<div>
  <div class="parameters" style="display: inline-block">
    
    <mat-form-field>
      <mat-label>Select your Skin Type</mat-label>
      <mat-select [(value)]="skinType" [disabled]='disabled' (valueChange)="getReportValue()">
        <mat-option value="1">Skin Type 1</mat-option>
        <mat-option value="2">Skin Type 2</mat-option>
        <mat-option value="3">Skin Type 3</mat-option>
        <mat-option value="4">Skin Type 4</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Duration in hours</mat-label>
      <mat-select [(value)]="duration" [disabled]='disabled' (valueChange)="getReportValue()">
        <mat-option value="60">0 to 1</mat-option>
        <mat-option value="120">1 to 2</mat-option>
        <mat-option value="180">2 to 3</mat-option>
        <mat-option value="240">3 to 4</mat-option>
        <mat-option value="300">4 to 5</mat-option>
        <mat-option value="360">5 to 6</mat-option>
        <mat-option value="420">6 to 7</mat-option>
        <mat-option value="480">7 to 8</mat-option>
        <mat-option value="540">8 to 9</mat-option>
        <mat-option value="600">9 to 10</mat-option>
      </mat-select>
    </mat-form-field>
   
    <mat-form-field>
      <mat-label>Select your Cloth Fabric</mat-label>
      <mat-select [(value)]="fabric" [disabled]='disabled' (valueChange)="getReportValue()">
        <mat-option value="Lycra/Elastanes">Lycra/Elastanes</mat-option>
        <mat-option value="Plastic">Plastic</mat-option>
        <mat-option value="Nylon">Nylon</mat-option>
        <mat-option value="Polyester">Polyester</mat-option>
        <mat-option value="Cotton">Cotton</mat-option>
        <mat-option value="Polyester/Cotton">Polyester/Cotton</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select Activity</mat-label>
      <mat-select [(value)]="activities" [disabled]='disabled' (valueChange)="getReportValue()">
        <mat-option value="Picnic,Barbecue">Picnic/Barbecue</mat-option>
        <mat-option value="Grasslands">Grassland</mat-option>
        <mat-option value="Soil, clay">Soil/Clay</mat-option>
        <mat-option value="Road trip">Road Trip</mat-option>
        <mat-option value="City tour">City Tour</mat-option>
        <mat-option value="Boat deck(wood or fibreglass)">Boat Deck(Wood/Fibreglass)</mat-option>
        <mat-option value="Open water">Open Water</mat-option>
        <mat-option value="Open ocean">Open Ocean</mat-option>
        <mat-option value="Sea surf">Sea surf</mat-option>
        <mat-option value="Beach sand, wet">Beach Sand(Wet)</mat-option>
        <mat-option value="Beach sand, dry">Beach Sand(Dry)</mat-option>
        <mat-option value="Snow">Snow</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  

  <div fxLayout="row wrap">
    <div fxFlex.lt-sm=100% fxFlex.gt-md=50% fxLayout="column">
      <mat-card class="frame">
        <p></p>
          <h2>CURRENT RISK LEVEL</h2>
          <mat-spinner *ngIf="disabled" style="display:block; margin-left:auto; margin-right:auto;"></mat-spinner>
          <img *ngIf="dangerlevel == '1' && !disabled" src='../../assets/img/level1.jpeg'
            style="width: 350px; height:225px">
          <img *ngIf="dangerlevel == '2' && !disabled" src='../../assets/img/level2.jpeg'
            style="width: 350px; height:225px">
          <img *ngIf="dangerlevel == '3' && !disabled" src='../../assets/img/level3.jpeg'
            style="width: 350px; height:225px">
          <img *ngIf="dangerlevel == '4' && !disabled" src='../../assets/img/level4.jpeg'
            style="width: 350px; height:225px">
          <img *ngIf="dangerlevel == '5' && !disabled" src='../../assets/img/level5.jpeg'
            style="width: 350px; height:225px">
       
          <mat-slider class='example-margin' [disabled]='disabled' [invert]='invert' [max]='max' [min]='min' [step]='step'
            [thumbLabel]='thumbLabel' [tickInterval]='tickInterval' [(ngModel)]='value' [vertical]='vertical'
            (valueChange)="getReportValue()">
          </mat-slider>
          <p>UV Index: {{value}}</p>
          <p *ngIf="dangerlevel == '1'">Low: You have 0-10% chance to Burn under the Sun.</p>
          <p *ngIf="dangerlevel == '2'">Median: You have 10-20% chance to Burn under the Sun.</p>
          <p *ngIf="dangerlevel == '3'">High: You have 20-30% chance to Burn under the Sun.</p>
          <p *ngIf="dangerlevel == '4'">Very high: You have 30-40% chance to Burn under the Sun.</p>
          <p *ngIf="dangerlevel == '5'">Extremely high: You have greater than 40% chance to Burn under the Sun.</p>
          <p><br><br></p>
      </mat-card>
    </div>
    <div fxFlex.lt-sm=100% fxFlex.gt-md=50% fxLayout="column">
      <mat-card class="frame">
          <p><br></p>
          <h1>RECOMMENDATION</h1>
          <p><br><br></p>
          <h2>We will recommend you to put on SPF {{spf_rec}} sunscreen to reduce the risk
            level to low</h2>
        <p><br></p>
      </mat-card>
      </div>
  </div>
</div>

<div class="grey-block" fxLayout="row wrap">
  <div fxFlex.lt-sm=100% fxFlex.gt-md=50% fxLayout="column">
    <p></p>
    <div>
        <h1>WHAT IS THE BEST TYPE OF SUNSCREEN?</h1>
    </div>
    <div>
      <img class="question-img" src="../../assets/img/question.jpeg"/>
      <p><br></p>
    </div>
  </div>
  <div fxFlex.lt-sm=100% fxFlex.gt-md=50% fxLayout="column" style="padding:15px 20px 15px 20px;">
    <p><br><br></p>
    <p>Please follow Melanoma Institute Australia (2019) strict guidelines to using sunscreen in Australia to ensure that you are well protected:</p>
    <ul>
      <li><p>Using sunscreen with the highest SPF. Currently in Australia, the highest is SPF50+.</p></li>
      <li><p>Your sunscreen should be broad-spectrum. Meaning it will protect you from both kinds of Ultraviolet (UV) rays, UVA and UVB.</p></li>
      <li><p>Applying the right amount of sunscreen. 
        We found that we only use about 25% to 50% of the required amount of sunscreen. 
        Using too little sunscreen reduces the sun protection factor significantly.</p></li>
      <li><p>All exposed skin must be thoroughly covered with sunscreen.</p></li>
      <li><p>If you are doing water related activities, ensure that you use a waterproof sunscreen and reapply it at least 2 hours regularly.</p></li>
    </ul>
    <p>Melanoma Institute Australia. (2019). Retrieved from <a href="https://www.melanoma.org.au/preventing-melanoma/how-do-i-protect-my-skin/">https://www.melanoma.org.au/preventing-melanoma/how-do-i-protect-my-skin/</a></p>
  </div>
</div>
