<div id="back">
  <p class="main-slogan">PREVENTION</p>
</div>
<div>
  <img src='../../assets/img/block4-2.jpg' class="main-image mat-elevation-z22" />
</div>
<div>
  <div>
    <p class="second-block">WHAT ARE THE DIFFERENT SKIN TYPES?</p>
    <p class="content-text">If you’ve
      ever tried to match foundation or concealer to your skin, you know just how tricky skin typing can be. Enter
      Fitzpatrick skin typing, a scientific skin type classification.
      <br><br>
      Once you know your risk level, you can arm yourself with the tools you need to protect your skin.
      <br><br>
      A simple quiz will help you identify your skin type.
    </p>
  </div>
  <div>
    <p><br></p>
    <iframe id="interactApp5cc12ea1539d8f001457d4fa" width="800" height="600"
      style="border:none;max-width:100%;margin:0;" allowTransparency="true" frameborder="0"
      src="https://quiz.tryinteract.com/#/5cc12ea1539d8f001457d4fa?method=iframe"></iframe>
      <p><br></p>
  </div>
  <div>
    <p class="content-text">
      Though this form of skin typing won’t help you find your perfect shade, it can tell you just how much shade you
      should get on sunny days.
      <br><br>
      This classification is semi-subjective, as it was developed by interviewing people about their past sun reactions.
      After picking out distinct trends, the creator identified six groups.
      <br><br>
      It’s possible that you won’t meet all of the characteristics of any one type, so you should go with the one that
      best describes you.
    </p>
  </div>
  <div>
    <p class="second-block"><br>RECOMMENDATIONS BASED ON THE CURRENT RISK LEVEL</p>
  </div>
  <div fxLayout fxLayout.lt-md="column">
    <div fxFlex=30%>
      <p></p>
      <mat-form-field>
        <mat-label>Select your Skin Type</mat-label>
        <mat-select [(value)]="skinType" [disabled]='disabled' (valueChange)="getReportValue()">
          <mat-option value="1">Skin Type 1</mat-option>
          <mat-option value="2">Skin Type 2</mat-option>
          <mat-option value="3">Skin Type 3</mat-option>
          <mat-option value="4">Skin Type 4</mat-option>
        </mat-select>
      </mat-form-field>
      <p></p>


      <mat-form-field>
          <mat-label>Duration in hours</mat-label>
          <mat-select [(value)]="duration" [disabled]='disabled' (valueChange)="getReportValue()">
            <mat-option value="60">0 to 1</mat-option>
            <mat-option value="120">1 to 2</mat-option>
            <mat-option value="180">2 to 3</mat-option>
            <mat-option value="240">3 to 4</mat-option>
            <mat-option value="300">4 to 5</mat-option>
            <mat-option value="360">5 to 6</mat-option>
            <mat-option value="420">6 to 7</mat-option>
            <mat-option value="480">7 to 8</mat-option>
            <mat-option value="540">8 to 9</mat-option>
            <mat-option value="600">9 to 10</mat-option>
          </mat-select>
        </mat-form-field>
        <p></p>

      <mat-form-field>
        <mat-label>Select your Cloth Fabric</mat-label>
        <mat-select [(value)]="fabric" [disabled]='disabled' (valueChange)="getReportValue()">
          <mat-option value="Lycra/Elastanes">Lycra/Elastanes</mat-option>
          <mat-option value="Plastic">Plastic</mat-option>
          <mat-option value="Nylon">Nylon</mat-option>
          <mat-option value="Polyester">Polyester</mat-option>
          <mat-option value="Cotton">Cotton</mat-option>
          <mat-option value="Polyester/Cotton">Polyester/Cotton</mat-option>
        </mat-select>
      </mat-form-field>
      <p></p>

      <mat-form-field>
        <mat-label>Select Activity</mat-label>
        <mat-select [(value)]="activities" [disabled]='disabled' (valueChange)="getReportValue()">
          <mat-option value="Picnic,Barbecue">Picnic/Barbecue</mat-option>
          <mat-option value="Grasslands">Grassland</mat-option>
          <mat-option value="Soil, clay">Soil/Clay</mat-option>
          <mat-option value="Road trip">Road Trip</mat-option>
          <mat-option value="City tour">City Tour</mat-option>
          <mat-option value="Boat deck(wood or fibreglass)">Boat Deck(Wood/Fibreglass)</mat-option>
          <mat-option value="Open water">Open Water</mat-option>
          <mat-option value="Open ocean">Open Ocean</mat-option>
          <mat-option value="Sea surf">Sea surf</mat-option>
          <mat-option value="Beach sand, wet">Beach Sand(Wet)</mat-option>
          <mat-option value="Beach sand, dry">Beach Sand(Dry)</mat-option>
          <mat-option value="Snow">Snow</mat-option>
        </mat-select>
      </mat-form-field>
      <p></p>
    </div>
    <div fxFlex=40%>
      <div>
        <mat-spinner *ngIf="disabled" style="display:block; margin-left:auto; margin-right:auto;"></mat-spinner>
        <img *ngIf="dangerlevel == '1' && !disabled" src='../../assets/img/level1.jpeg' style="width: 350px; height:225px">
        <img *ngIf="dangerlevel == '2' && !disabled" src='../../assets/img/level2.jpeg' style="width: 350px; height:225px">
        <img *ngIf="dangerlevel == '3' && !disabled" src='../../assets/img/level3.jpeg' style="width: 350px; height:225px">
        <img *ngIf="dangerlevel == '4' && !disabled" src='../../assets/img/level4.jpeg' style="width: 350px; height:225px">
        <img *ngIf="dangerlevel == '5' && !disabled" src='../../assets/img/level5.jpeg' style="width: 350px; height:225px">
      </div>
      <div>
        <mat-slider class='example-margin' [disabled]='disabled' [invert]='invert' [max]='max' [min]='min' [step]='step'
          [thumbLabel]='thumbLabel' [tickInterval]='tickInterval' [(ngModel)]='value' [vertical]='vertical'
          (valueChange)="getReportValue()">
        </mat-slider>
        <p>UV Index: {{value}}</p>
        <p><br></p>
      </div>
    </div>
    <div fxFlex=30% style="margin-right: 10px">
      <p>Low: You have 0-10% chance to Burn under the Sun.</p>
      <p>Median: You have 10-20% chance to Burn under the Sun.</p>
      <p>High: You have 20-30% chance to Burn under the Sun.</p>
      <p>Very high: You have 30-40% chance to Burn under the Sun.</p>
      <p>Extremely high: You have greater than 40% chance to Burn under the Sun.</p>
      <p><br></p>
      <div *ngIf="!defaultFlag">
          <p>We will recommend you to put on SPF : {{spf_rec}} Sunscreen to reduce the risk level to low.</p>
      </div>
    </div>
  </div>
  <div fxLayout fxLayout.lt-md="column">
    <div fxFlex=50% style="padding-left: 5px;">
      <p class="second-block">PREVENTING SKIN CANCER</p>
      <p class="content-text" >
        In order to achieve the best protection effect, when the ultraviolet radiation level is 3 or above, we
        recommend combining some protection measures:</p>
      <ul class="content-text-item">
        <li>
          Put on some sun-protective clothes – cover the skin as much as possible<br><br>
        </li>
        <li>
          Apply on broad spectrum, waterproof SPF30 + sunscreen. Wear it 20 minutes before you go out, then every two
          hours. Sunscreen should not be used to extend your time in the sun.<br><br>
        </li>
        <li>
          Wear a hat to protect your face, head, neck and ears<br><br>
        </li>
        <li>
          Looking for shadows<br><br>
        </li>
        <li>
          Wear Sunglasses – Make sure they meet Australian standards.<br><br>
        </li>
      </ul>
      <p class="content-text">
        Be extra careful on the day with the highest ultraviolet intensity.<br><br>
      </p>
    </div>
    <div fxFlex=50% style="padding-left: 5px;">
      <img src="../../assets/img/left.jpg" style="max-width: 80%; max-height: 500px;" />
    </div>
  </div>
  <div fxLayout fxLayout.lt-md="column">
    <div fxFlex=50% style="padding-left: 5px;margin-top: 50px;">
      <img src="../../assets/img/right.jpg" style="max-width: 80%; max-height: 400px;" />
    </div>
    <div fxFlex=50% style="padding-left: 5px;">
      <p class="second-block">WHAT IS THE BEST TYPE OF SUNSCREEN?</p>
      <p class="content-text">
        In Australia we have very strict guidelines when it comes to sunscreen. Apply a broad-spectrum sunscreen with an
        SPF of at least 50+ every two hours and after swimming or exercise. The following points will help you ensure
        that you get the best possible protection:</p>
      <ul class="content-text-item">
        <li>
          Use the sunscreen with the highest possible SPF. This is currently SPF50+ in Australia.<br><br>
        </li>
        <li>
          Ensure your sunscreen is broad-spectrum. That means it protects you against both UVA and UVB rays.<br><br>
        </li>
        <li>
          Typically we only use 25% -50% of the amount of sunscreen that we actually need to be protected, often missing
          areas. When too little sunscreen is applied, it reduces the sun protection factor significantly e.g. an SPF30+
          may only be working as an SPF10.<br><br>
        </li>
        <li>
          Ensure that all exposed skin is thoroughly covered with sunscreen.<br><br>
        </li>
        <li>
          If you are in the water ensure you use a water resident variety of sunscreen and re-apply regularly, at least
          every two-hours. <br><br>
        </li>
      </ul>
    </div>
  </div>

  
   <div>
    <p class="second-block">ACCESS TO THE NEAREST SKIN CANCER CLINIC</p>
  </div>
<div style="padding: 15px;">
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-f333d798-ed6b-4715-a5c1-ca0d6c27406b" 
    style="display:block; margin-left:auto; margin-right:auto;">
  </div>
  </div>

  <button mat-icon-button class="up">
    <a href="prevention#back">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </a>
  </button>

</div>