<div fxLayout fxLayout.lt-md="column">
  <div fxHide.lt-md="true" class="sub-nav " fxFlex=25%>
    <mat-card class="mat-elevation-z8">
      <div>
        <a href="skin-cancer#cancer" (click)="setColor(0)" [className]="links[0] ? 'active': 'inactive'">Skin cancer</a>
      </div>
      <div>
        <a href="skin-cancer#types" (click)="setColor(1)" [className]="links[1] ? 'active' : 'inactive'">Types</a>
      </div>
      <div>
        <a href="skin-cancer#causes" (click)="setColor(2)" [className]="links[2] ? 'active' : 'inactive'">Causes</a>
      </div>
      <div>
        <a href="skin-cancer#symptoms" (click)="setColor(3)" [className]="links[3] ? 'active' : 'inactive'">Symptoms</a>
      </div>
      <div>
        <a href="skin-cancer#diagnosis" (click)="setColor(4)" [className]="links[4] ? 'active' : 'inactive'">Diagnosis</a>
      </div>
      <div>
        <a href="skin-cancer#treatment" (click)="setColor(5)" [className]="links[5] ? 'active' : 'inactive'">Treatment</a>
      </div>
      <div>
        <a href="skin-cancer#prevention" (click)="setColor(6)"[className]="links[6] ? 'active' : 'inactive'">Prevention</a>
      </div>
      <div>
        <a href="skin-cancer#statistics" (click)="setColor(7)" [className]="links[7] ? 'active' : 'inactive'">Statistics</a>
      </div>
      
    </mat-card>
  </div>
  <div fxFlex=70%>
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title id="cancer"><b>What is skin cancer?</b></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p id="types">
          Skin cancer occurs in epidermal cells, the top or outer layer of the skin. Ultraviolet (UV)
          radiation penetrates the skin and damages the DNA of skin cells. If the body is unable to repair
          the damage, cells begin to divide and grow uncontrollably. This growth eventually leads to
          tumours.
        </p>
      </mat-card-content>
      <mat-card-header>
        <mat-card-title ><b>Types of skin cancer</b></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          There are three main types of skin cancer: <br></p>
          <ul>
            <li>Basal cell carcinoma (BCC)</li>
            <li>Squamous cell carcinoma (SCC)</li>
            <li>Melanoma - the most dangerous form of skin cancer <br></li>
          </ul>
      </mat-card-content>
      <mat-card-header>
        <mat-card-title>Non-melanoma </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Both basal cell carcinoma and squamous cell carcinoma are known as non-melanoma skin cancer. Non-melanoma skin
          cancers are the most common cancers in Australia, however most are not life-threatening. These are not
          invasive cancers, however may require treatment as some may develop into non-melanoma skin cancers.
          In 2016, there were 679 recorded deaths in Australia from non-melanoma skin cancers.
          <br><br>
        </p>
      </mat-card-content>
      <mat-card-header>
        <mat-card-title>Melanoma</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p id="causes">
          Melanoma is a cancer that occurs in skin pigmented cells (melanocytes).
          Melanocytes produce melanin, which helps protect the skin from ultraviolet (or sunlight) radiation. When
          melanocytes accumulate in the skin during childhood or adolescence, they form a mole.
          Most nevi are fairly safe, but sometimes melanocytes in nevi begin to grow and divide uncontrollably. If they
          begin to grow in an uncontrolled way, either outward or downward, they may become melanomas.
          Melanoma is one of the most serious skin cancers. If untreated, it will grow rapidly. It can spread to the
          lower part of the skin (dermis), into the lymphatic system or blood flow, and then to other parts of the body,
          such as lungs, liver, brain or bone.
        </p>
      </mat-card-content>
      <mat-card-header>
        <mat-card-title ><b>Causes of skin cancer</b></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Ultraviolet radiation is the main cause of skin cells becoming cancer cells. In most parts of Victoria,
          ultraviolet radiation levels are high enough to damage the skin for most of the year.
          <br><br>
        </p>
      </mat-card-content>
      <mat-card-header>
        <mat-card-title>Sunburn</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Sunburn causes 95% of melanoma, the most deadly form of skin cancer.
          In Australia, one in eight adults and one in five teenagers get sunburn on the average weekend in summer. Many
          people get sunburn when they participate in water sports and activities on the beach or swimming pool, and
          when they gardening or barbecuing.
          Sunburn is also common in cold or cloudy days, because many people mistakenly believe that ultraviolet
          radiation is not so strong. This is not true - you can still get sunburn when the temperature is low.
          Exposure to sunlight does not cause burns, but it still causes damage to skin cells and increases the risk of
          skin cancer. There is evidence that regular annual exposure to ultraviolet radiation can also lead to skin
          cancer.
          <br><br>
        </p>
      </mat-card-content>
      <mat-card-header>
        <mat-card-title>Tanning</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Although many Australians say tanning is "healthy tanning", tanning is not a sign of health or happiness.
          Almost half of Australian adults still believe that tanning looks healthy.
          Sun tanning is a sign that you have been exposed to enough ultraviolet radiation (from the sun or sunbathing)
          to damage your skin. This eventually leads to skin loss of elasticity (wrinkles), sagging, yellowish
          discoloration, and even brown plaques. Worst of all, it increases your risk of skin cancer.
          Sun tanning provides limited sunscreen protection, usually equivalent to SPF3, depending on your skin type. It
          does not prevent DNA damage, which can lead to skin cancer.
          Some people mistakenly believe that using fake tanning agents can protect them from ultraviolet radiation.
          Therefore, they may not take sunscreen measures to make them more susceptible to skin cancer. More information
          about fake tans can be found in the Cancer Commission's position statement on fake Tans.
          <br><br>
        </p>
      </mat-card-content>
      <mat-card-header>
        <mat-card-title>Solariums</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p id="symptoms">
          Both ultraviolet A and B radiation are known causes of cancer. The Cancer Committee does not recommend
          sunbathing for cosmetic Tanning under any circumstances.
          As of January 2016, commercial sunbathing was banned in all Australian states. The bill also prohibits
          commercial sunbathing. There is no commercial sunbathing in the Northern Territory.
          More information on sunbathing can be found in the Cancer Commission's position statement on sunbathing.
          There are many risk factors that increase the risk of melanoma, including white skin, high number of nevus,
          family history and sunbathing throughout life, especially in childhood.
          Importantly, melanoma can occur anywhere in the skin, even in places with little or no sunlight, such as the
          mouth or sole of the foot.
        </p>
      </mat-card-content>
      <mat-card-header>
        <mat-card-title ><b>Skin cancer symptoms</b></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Be familiar with your skin, so you will find any changes that may lead to skin cancer. Seek:
          <br></p>
          <ul>
            <li>Any hard, no healing wound</li>
            <li>Small red, pale or pearl-colored lumps</li>
            <li> Nevus with new spots, freckles or any pigmentation, thickness or shape that changes in weeks to months.</li>
          </ul>
          <p id="diagnosis"><br>
          The sooner skin cancer is discovered and treated, the more likely you are to avoid surgery, or potential
          disfigurement or death in the case of severe melanoma or other skin cancer.
          It's also a good idea to talk to your doctor about your level of risk and recommendations for early detection.
        </p>
      </mat-card-content>
      <mat-card-header>
        <mat-card-title ><b>Diagnosis for skin cancer</b></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Skin cancer is the most common cancer managed by general practitioners (GPs) in Australia. GPs are also
          responsible for most skin cancer resections, and more and more surgical repairs (flaps and grafts) are being
          performed. A study of Australian GPs shows that GPs who are specializing in skin cancer has higher diagnostic
          accuracy than GPs in general practice. Although the treatment of skin cancer used to be carried out mainly by
          general practitioners, the number of skin cancer clinics has increased rapidly in recent years.
          Skin cancer clinics may not offer a higher level of expertise than your family doctor, so it is important to
          investigate in advance what services they provide and what training their employees have received. When
          choosing a skin cancer clinic, consideration should be given to:<br></p>
        <ul>
          <li>employee-Qualification and Experience</li>
          <li>cost</li>
          <li>diagnosis and services offered</li>
          <li>follow-up services.</li>
        </ul>
        <p id="treatment">
          <br>
          Our website does not operate or recommend any specific skin cancer clinic or doctor.
          It's important to check your skin regularly. If you find any changes, consult your GP. If your GP suspects
          that you have skin cancer, they may perform a biopsy (take a small sample of tissue under a microscope for
          examination), or refer you to consult an expert.
        </p>
      </mat-card-content>
      <mat-card-header>
        <mat-card-title ><b>Treatment for skin cancer</b></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p id="prevention">
          The most common treatment for skin cancer is surgical removal of cancer cells (usually under local
          anesthesia). Common skin cancer can be treated with ointment or radiotherapy. Skin cancer can also be removed
          by cryotherapy (using liquid nitrogen to quickly freeze cancer cells), curettage (scraping) or cauterization
          (burning).
          Skin cancer is almost always removed. In more advanced skin cancers, some surrounding tissues may also be
          removed to ensure that all cancer cells are removed.
          For more detailed information on skin cancer, please call the Cancer Committee at 1311 20 or consult your GP.
        </p>
      </mat-card-content>
      <mat-card-header>
        <mat-card-title ><b>Preventing skin cancer</b></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          In order to achieve the best protection effect, when the ultraviolet radiation level is 3 or above, we
          recommend combining some protection measures:<br></p>
        <ul>
          <li>Put on some sun-protective clothes - cover the skin as much as possible</li>
          <li>Apply on broad spectrum, waterproof SPF30 + sunscreen. Wear it 20 minutes before you go out, then every
            two
            hours. Sunscreen should not be used to extend your time in the sun.</li>
          <li>Apply on broad spectrum, waterproof SPF30 + sunscreen. Wear it 20 minutes before you go out, then every
            two
            hours. Sunscreen should not be used to extend your time in the sun.
          </li>
          <li id="statistics">Wear a hat to protect your face, head, neck and ears</li>
          <li>Looking for shadows</li>
          <li>Wear Sunglasses - Make sure they meet Australian standards.</li>
        </ul>
        <p>
          <br>
          Be extra careful on the day with the highest ultraviolet intensity.
          For more real time protection recommendations, please visit our website on prevention.
        </p>
      </mat-card-content>
      <mat-card-header>
        <mat-card-title ><b>Skin cancer facts and statistics</b></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          About two-thirds of Australians are diagnosed with skin cancer at age 70. Non-melanoma skin cancer is more
          common in men, with an incidence almost double that of women.
          Excluding non-melanoma skin cancer*, melanoma is Australia's third most common cancer. In 2015, 13,694
          Australians were diagnosed with melanoma.<br>
          Every year in Australia:<br></p>
        <ul>
          <li>Skin cancer accounts for about 80% of all newly diagnosed cancers.</li>
          <li>Most skin cancers are caused by exposure to sunlight.</li>
          <li>Global Positioning System (GPS) consults more than 1 million patients with skin cancer every year.</li>
          <li>The incidence of skin cancer is the highest in the world, two to three times that of Canada, the United
            States and the United Kingdom.</li>
          <li>More than 2000 Australians die each from skin cancer every year.</li>
        </ul>
        <p>
          <br>
          In 2016, 1960 people died of skin cancer, 1281 from melanoma and 679 from non-melanoma skin cancer in
          Australia.
          <br>
          Although skin cancer is more likely to occur in the elderly, it is important to remember that melanoma is the
          most serious skin cancer and is a common cancer among young people.<br><br>
          *Non-melanoma skin cancers are not notified to cancer registries.
          <br>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
