<!-- <div class="main-image">
  <mat-card>
    <img src="../../assets/img/skin-page.jpg"/>
  </mat-card>
</div> -->
<div>
  <div class="main-image-wrap">
    <img src='../../assets/img/skin-page.jpg' class="main-image" />
  </div>
  <p class="main-slogan">WHAT IS SKIN CANCER</p>
</div>
<div fxLayout fxLayout.lt-md="column">
  <div fxHide.lt-md="true" class="sub-nav " fxFlex=25%>
    <mat-card class="mat-elevation-z8">
      <a routerLink="/skin-cancer/cancer" routerLinkActive="active">Skin cancer</a><br>
      <a routerLink="/skin-cancer/types" routerLinkActive="active">Types</a><br>
      <a routerLink="/skin-cancer/causes" routerLinkActive="active">Causes</a><br>
      <a routerLink="/skin-cancer/symptoms" routerLinkActive="active">Symptoms</a><br>
      <a routerLink="/skin-cancer/diagnosis" routerLinkActive="active">Diagnosis</a><br>
      <a routerLink="/skin-cancer/treatment" routerLinkActive="active">Treatment</a><br>
    </mat-card>
  </div>
  <div fxFlex=70%>
      <router-outlet></router-outlet>
  </div> 
</div>
