mat-card {
    margin: 20px 40px 40px 10px;
    text-align: center;
    padding: 80px;
}

.sub-nav mat-card {
    margin: 20px 40px 40px 30px;
    text-align: left;
    padding: 50px;
    line-height: 16pt;
}

.sub-nav mat-card a {
    font-weight: bold;
}

mat-card p {
    text-align: justify;
    text-justify: inter-word;
}

ul li {
    text-align: justify;
}

p {
  font-size: 16px;
  line-height: 18pt;
}

li {
    font-size: 16px;
    line-height: 18pt;
}


