.main-image-wrap {
  max-height: 500px;
  overflow: hidden;
}

.main-image {
  width: 100%;
  filter: brightness(60%);
}
  
div {
  text-align: center;
}

.main-slogan {
  color: white;
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 300%;
  z-index: 10;
}

@media all and (max-width: 1500px){
  .main-slogan {
      color: white;
      position: absolute;
      top: 21vw;
      font-weight: 900;
      font-size: calc(30px + 1vw);
      z-index: 10;
  }
}

@media all and (max-width: 1200px) {
  .main-image-wrap {
    max-height: 450px;
  }
}

@media all and (max-width: 1000px) {
  .main-slogan {
    top: 23vw;
  }

  .main-image-wrap {
    max-height: 400px;
  }
}

@media all and (max-width: 800px) {
  .main-image-wrap {
    max-height: 340px;
  }
}

@media all and (max-width: 700px) {
  .main-slogan {
      color: white;
      position: absolute;
      top: 35vw;
      font-weight: 900;
      z-index: 10;
  }

  .main-image-wrap {
    max-height: 380px;
  }

  .recommendation {
    top: 0%;
  }
}

.second-block {
  font-weight: bold;
  font-size: xx-large;
}

.sub-heading {
  font-weight: bold;
  font-size: 4vh;
}

.block2 div {
  padding: 10px;
}

.block2 div mat-card {
  padding: 0px 0px 0px 0px;
  height: 300px;
  width: 400px;
  display: block;
  margin-left:auto;
  margin-right:auto;
}

.block2 div mat-card img {
  max-width: 400px;
  max-height: 300px;
}

.block2-sub {
  font-weight: bold;
  font-size: x-large;
}

.content-text {
  text-align: left;
  font-size:15px;
  font-family: sans-serif;
  line-height: 22.35px;
  padding: 0px 40px 0px 40px;
}

.content-text-item {
  text-align: left;
  font-size:15px;
  font-family: sans-serif;
  line-height: 22.35px;
  padding: 0px 10px 0px 40px;
}

.frame {
  border-radius: 5%;
  border-color: red;
}

mat-form-field {
  padding: 20px;
}

.img-container {
  position: relative;
  padding: 0px;
  margin: 0px;
}

.img-container img {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.recommendation {
  position: relative;
  width: 80%;
  height: 76%;
  margin-bottom: 60px;
  border: 2px solid lightgreen;
  border-radius: 15px;
}

.recommendation p {
  text-align: center;
  font-size: 25px;
  line-height: 35px;
  font-size: bold;
}

div .recommendation {
  margin: 0 auto;
}
