<div>
  <div>
    <p class="sub-slogan">A Skin Cancer Free Future</p>
  </div>
  <div>
    <p class="main-slogan">SUN PROTECTION FOR EVERYONE</p>
  </div>
  <div>
    <button class="read-more mat-elevation-z8" mat-button routerLink="/skin-cancer">Learn More</button>
  </div>
  <div>
    <img src='../../assets/img/homepage.jpeg' class="main-image mat-elevation-z22" />
  </div>
  <div>
    <p class="second-block">Plan Ahead for Sun Protection</p>
    <p class="content-text">Your usual way of sun protection at home may not be the best way when you travel around VIC.
      When it comes to traveling to far away places, it’s important to be well prepared. From destination weather and
      clothes to sunscreen, there’s a lot to consider before you trip. Our ‘How to Prepare’ guide is below with some
      handy tips for sun protection of your trip.
    </p>
  </div>
  <div class="grey-block">
    <div fxLayout="row wrap" class="block2">

      <div fxFlex.sm=100% fxFlex.gt-md=50% fxLayout="column">
        <p class="second-block">Attractions</p>
        <mat-form-field>
            <mat-label>Select Activity</mat-label>
            <mat-select [(value)]="location" (valueChange)="getResult()">
              <mat-option value="Great Ocean Road">Great Ocean Road</mat-option>
              <mat-option value="Phillip Island">Phillip Island</mat-option>
              <mat-option value="Point Lonsdale">Point Lonsdale</mat-option>
              <mat-option value="Peninsula">Peninsula</mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date"
            [min]="minDate" [max]="maxDate" [(ngModel)]="selectedDate" (ngModelChange)="getResult()" required>
            <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div>
            <img *ngIf="location=='Great Ocean Road'" src="../../assets/img/Great Ocean Road.jpg">
            <img *ngIf="location=='Phillip Island'" src="../../assets/img/Phillip Island.jpg">
            <img *ngIf="location=='Point Lonsdale'" src="../../assets/img/Point Lonsdale.jpg">
            <img *ngIf="location=='Peninsula'" src="../../assets/img/Peninsula.jpg">
          </div>
      </div>

      <div fxFlex.sm=100% fxFlex.gt-md=50% fxLayout="column">
        <p class="second-block">How to Prepare</p>
        <mat-card>
          <p>
              We will recommend you to put on SPF 15 Sunscreen and XXX clothes lalalala. (This part will change automaticly according to the left images.)
          </p>
        </mat-card>
      </div>
    </div>
  </div>
</div>