<mat-tab-group>
  <mat-tab label="Current">
    <p>{{this.currentTime}}</p>
    <div fxLayout fxLayout.lt-md="column">
      <div fxFlex=50%>
        <mat-card class="mat-elevation-z4">
          <p *ngIf="this.icon == 'clear-night'"><i class="wi wi-night-clear"></i> Clear Night</p>
          <p *ngIf="this.icon == 'clear-day'"><i class="wi wi-day-sunny"></i> Clear Day</p>
          <p *ngIf="this.icon == 'rain'"><i class="wi wi-rain"></i> Rain</p>
          <p *ngIf="this.icon == 'snow'"><i class="wi wi-snow"></i> Snow</p>
          <p *ngIf="this.icon == 'sleet'"><i class="wi wi-sleet"></i> Sleet</p>
          <p *ngIf="this.icon == 'wind'"><i class="wi wi-windy"></i> Windy</p>
          <p *ngIf="this.icon == 'fog'"><i class="wi wi-fog"></i> Foggy</p>
          <p *ngIf="this.icon == 'cloudy'"><i class="wi wi-cloudy"></i> Cloudy</p>
          <p *ngIf="this.icon == 'partly-cloudy-day'"><i class="wi wi-night-partly-cloudy"></i>Partly Cloudy</p>
          <p *ngIf="this.icon == 'partly-cloudy-night'"><i class="wi wi-night-alt-partly-cloudy"></i>Partly Cloudy</p>
        </mat-card>
        <mat-card class="mat-elevation-z4">
          <p><i class="wi wi-thermometer"></i> {{((this.temperature - 32)*5/9).toFixed(2)}}</p>
        </mat-card>
        <mat-card class="mat-elevation-z4">
          <p>UV: {{this.uvIndex}}</p>
        </mat-card>
      </div>
      <div fxFlex=50%>
        <mat-card class="mat-elevation-z4">
          <p><i class="wi wi-humidity"></i> {{this.humidity}}</p>
        </mat-card>
        <mat-card class="mat-elevation-z4">
          <p><i class="wi wi-cloud"></i> {{this.cloudCover}}</p>
        </mat-card>
        <mat-card class="mat-elevation-z4">
          <p>Ozone: {{this.ozone}}</p>
        </mat-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab *ngFor='let i of [1,2,3,4,5]' label="Hour +{{i}}">
    <p>{{this.currentTime}}</p>
    <div fxLayout fxLayout.lt-md="column">
      <div fxFlex=50%>
        <mat-card class="mat-elevation-z4">
          <p *ngIf="this.hourlyData[this.currentHour + i]['icon'] == 'clear-night'"><i class="wi wi-night-clear"></i>
            Clear Night</p>
          <p *ngIf="this.hourlyData[this.currentHour + i]['icon'] == 'clear-day'"><i class="wi wi-day-sunny"></i> Clear
            Day</p>
          <p *ngIf="this.hourlyData[this.currentHour + i]['icon'] == 'rain'"><i class="wi wi-rain"></i> Rain</p>
          <p *ngIf="this.hourlyData[this.currentHour + i]['icon'] == 'snow'"><i class="wi wi-snow"></i> Snow</p>
          <p *ngIf="this.hourlyData[this.currentHour + i]['icon'] == 'sleet'"><i class="wi wi-sleet"></i> Sleet</p>
          <p *ngIf="this.hourlyData[this.currentHour + i]['icon'] == 'wind'"><i class="wi wi-windy"></i> Windy</p>
          <p *ngIf="this.hourlyData[this.currentHour + i]['icon'] == 'fog'"><i class="wi wi-fog"></i> Foggy</p>
          <p *ngIf="this.hourlyData[this.currentHour + i]['icon'] == 'cloudy'"><i class="wi wi-cloudy"></i> Cloudy</p>
          <p *ngIf="this.hourlyData[this.currentHour + i]['icon'] == 'partly-cloudy-day'"><i
              class="wi wi-night-partly-cloudy"></i>Partly Cloudy</p>
          <p *ngIf="this.hourlyData[this.currentHour + i]['icon'] == 'partly-cloudy-night'"><i
              class="wi wi-night-alt-partly-cloudy"></i>Partly Cloudy</p>
        </mat-card>
        <mat-card class="mat-elevation-z4">
          <p><i class="wi wi-thermometer"></i> {{((this.hourlyData[this.currentHour + i]['temperature'] - 32) * 5/9).toFixed(2)}}</p>
        </mat-card>
        <mat-card class="mat-elevation-z4">
          <p>UV: {{this.hourlyData[this.currentHour + i]['uvIndex']}}</p>
        </mat-card>
      </div>
      <div fxFlex=50%>
        <mat-card class="mat-elevation-z4">
          <p><i class="wi wi-humidity"></i> {{this.hourlyData[this.currentHour + i]['humidity']}}</p>
        </mat-card>
        <mat-card class="mat-elevation-z4">
          <p><i class="wi wi-cloud"></i> {{this.hourlyData[this.currentHour + i]['cloudCover']}}</p>
        </mat-card>
        <mat-card class="mat-elevation-z4">
          <p>Ozone: {{this.hourlyData[this.currentHour + i]['ozone']}}</p>
        </mat-card>
      </div>
    </div>
  </mat-tab>