<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/skin-cancer">About Skin Cancer</a>
      <a mat-list-item routerLink="/prevention">Prevention</a>
      <a mat-list-item routerLink="/compare">Skin Cancer Statistics</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z22" color="primary">
      <div class="hamburger">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </div>
      <button mat-button routerLink="/home">
        <img src="../../assets/img/logo.jpeg" style="width: 100px; height: 50px;"/>
      </button>
      <span class="fill-space"></span>
      <div class="buttons-topbar">
        <button mat-button routerLink="/home" style="padding:8px 25px 8px 25px ">Home</button>
        <button mat-button [matMenuTriggerFor]="skinCancerMenu">Skin Cancer<span><mat-icon>expand_more</mat-icon></span></button>
        <mat-menu #skinCancerMenu="matMenu" yPosition="above">
            <button mat-menu-item routerLink="/compare" routerLinkActive="active-list-item">Skin Cancer Statistics</button>
            <button mat-menu-item routerLink="/skin-cancer">Skin Care Symptoms</button>
          </mat-menu>
        <button mat-button [matMenuTriggerFor]="aboveMenu">Prevention<span><mat-icon>expand_more</mat-icon></span></button>
        <mat-menu #aboveMenu="matMenu" yPosition="above">
          <button mat-menu-item routerLink="/skin-type" routerLinkActive="active-list-item">Check Skin Type</button>
          <button mat-menu-item routerLink="/prevention" routerLinkActive="active-list-item">SPF Recommendation</button>
          <button mat-menu-item routerLink="/map">Access to Clinics</button>
        </mat-menu>
        <button mat-button routerLink="/trip" routerLinkActive="active-list-item">Plan Your Trip</button>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>