<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/skin-cancer">About Skin Cancer</a>
      <a mat-list-item routerLink="/compare">SKin Cancer Statistics</a>
      <a mat-list-item routerLink="/about-us">About us</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z22" color="primary">
      <div class="hamburger">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </div>
      <img src="../../assets/img/WechatIMG651.jpg" style="width: 50px; height: 50px;"/>
      <button mat-button routerLink="/home">
        <h1>Smiling Skin</h1>
      </button>
      <span class="fill-space"></span>
      <div class="buttons-topbar">
        <button mat-button routerLink="/skin-cancer" routerLinkActive="active-list-item">About Skin Cancer</button>
        <button mat-button routerLink="/compare" routerLinkActive="active-list-item">Skin Cancer Statistics</button>
        <button mat-button routerLink="/about-us" routerLinkActive="active-list-item">About us</button>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>