<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/about-us">About us</a>
      <a mat-list-item routerLink="/news">News</a>
      <a mat-list-item href="#">Prevention</a>
      <a mat-list-item routerLink="/skin-cancer">Skin Canver</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="hamburger">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </div>
      <button mat-button routerLink="/home">Smiling Skin</button>
      <span class="fill-space"></span>
      <div class="buttons-topbar">
        <button mat-button routerLink="/about-us">About us</button>
        <button mat-button routerLink="/news">News</button>
        <button mat-button>Prevention</button>
        <button mat-button routerLink="/skin-cancer">Skin Cancer</button>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>