<!-- <mat-toolbar color="primary">
  <span>Smiling Skin</span>
  <span class="fill-space"></span>
  <button style="float: right;" mat-button routerLink="/about-us">About us</button>
  <button mat-button>About cancer</button>
  <button mat-button>Prevention</button>
  <button mat-button>Find a skin clinic</button>
  <button mat-button>Share your story</button>
</mat-toolbar> -->
<!-- <router-outlet></router-outlet> -->
<app-main-nav>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</app-main-nav>