<div fxLayout fxLayout.lt-md="column">

<mat-card fxFlex=33% class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>MELANOMA SKIN CANCER IN AUSTRALIA</mat-card-title>
    <mat-card-subtitle>Published: 28/03/2019</mat-card-subtitle>
    <mat-card-subtitle>From Australian Government</mat-card-subtitle>
  </mat-card-header>
  <img src="https://beta.health.gov.au/sites/default/themes/custom/health/images/DoHCrest-stacked.png">
  <mat-card-content>
    <p>
      In 2016, there were 1,281 deaths from melanoma skin cancer in Australia (863 males and 418 females).
      In 2019, it is estimated that this will increase to 1,725deaths (1,190 males and 536 females).
      In 2019, it is estimated that the risk of an individual dying from melanoma skin cancer by their 85th
      birthday will be 1 in 134 (1 in 89 males and 1 in 246 females).
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button href="https://melanoma.canceraustralia.gov.au/statistics">Read more</a>
  </mat-card-actions>
</mat-card>

<mat-card fxFlex=33% class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>MELANOMA OF THE SKIN IS THE 19th MOST COMMON CANCER WORLDWIDE</mat-card-title>
    <mat-card-subtitle>Published: 01/01/2019</mat-card-subtitle>
    <mat-card-subtitle>From Word Cancer Research Fund</mat-card-subtitle>
  </mat-card-header>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbbd7CIflFCAXpr5m_OfgKHc8tSCpiRxeRcxtXr6irOT4DaQnI">
  <mat-card-content>
    <p>
      Melanoma of the skin is the 19th most commonly happening cancer in male and female. In this report,
      there is a summary measure of the skin cancer rate with age structure because different ages have
      different possibility and powerful influence on the risk of dying from cancer.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button href="https://www.wcrf.org/dietandcancer/cancer-trends/skin-cancer-statistics">Read more</a>
  </mat-card-actions>
</mat-card>

<mat-card fxFlex=33% class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Dog Smells Skin Cancer Cells and Saves Human’s Life</mat-card-title>
    <mat-card-subtitle>Published: 04/04/2019</mat-card-subtitle>
    <mat-card-subtitle>The Age</mat-card-subtitle>
  </mat-card-header>
  <img src="https://www.cclc.vic.gov.au/cms/content/uploads/2017/12/The-Age-800X450_800x450_acf_cropped.jpg">
  <mat-card-content>
    <p>
      Victoria is a rescue dog and began sniffing Lauren’s nose a lot for a long time and she thought it was 
      strange. More often, Victoria even hold her nose to a specific spot on Laurent’s face. Later, she went 
      to the doctor to get the spot checked out.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button href="https://www.onegreenplanet.org/animalsandnature/dog-smells-skin-cancer-cells-and-saves-humans-life/">Read more</a>
  </mat-card-actions>
</mat-card>
</div>