mat-card {
    margin: 30px 10px 50px 10px;
    text-align: center;
    max-height: 100%;
}

mat-card p {
    text-align: justify;
    text-justify: inter-word;
}

mat-card img {
    max-width: 400px;
    max-height: 400px;
}

mat-card matcard-header matcard-title{
    text-align: center;
}

div .right-card {
    align-items: stretch;
}
