<mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title><b>Skin Cancer symptoms</b></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Be familiar with your skin, so you will find any changes that may lead to skin cancer. Seek:
        <br></p>
      <ul>
        <li>Any hard, no healing wound</li>
        <li>Small red, pale or pearl-colored lumps</li>
        <li> Nevus with new spots, freckles or any pigmentation, thickness or shape that changes in weeks to months.</li>
      </ul>
      <p><br>
        The sooner skin cancer is discovered and treated, the more likely you are to avoid surgery, or potential
        disfigurement or death in the case of severe melanoma or other skin cancer.
        It's also a good idea to talk to your doctor about your level of risk and recommendations for early detection.
      </p>
    </mat-card-content>
  </mat-card>