<mat-card class="mat-elevation-z8">
    <mat-card-title><b>Skin Cancer Symptoms</b></mat-card-title>
    <mat-card-content>
      <p>
        <a href="https://www.cancer.org.au/about-cancer/types-of-cancer/skin-cancer.html#jump_2">Cancer Council Australia (2019)</a> stated that you must familiarize yourself with any changes on your skin that may be an early sign of skin cancer:
        <br>
      </p>
      <ul>
        <li>Wounds that are hard and do not heal.</li>
        <li>Small lumps that appeared red, pale or pearl-coloured.</li>
        <li>Any moles that are changing in pigmentation, thickness or shape over the course of weeks to months.</li>
      </ul>
      <p><br>
      Early detection and treatment of skin cancer is crucial. 
      Not learning or avoiding the signs of skin cancer can lead to needing surgery or further health complications such as disfigurement, severe melanoma or other types of skin cancer, all of which may potentially lead to death (<a href="https://www.cancer.org.au/preventing-cancer/sun-protection/check-for-signs-of-skin-cancer.html">Cancer Council Australia, 2019</a>). 
      It is a great idea to consult your doctor if you are unsure of your risk level and discuss how to detect early signs of skin cancer (<a href="https://www.cancer.org.au/preventing-cancer/sun-protection/check-for-signs-of-skin-cancer.html">Cancer Council Australia, 2019</a>).
      <br><br>
      </p>
    </mat-card-content>
    <p class="page-nav">
      <b>
        <span class="previous">
          &lt; Previous: <a routerLink="/skin-cancer/causes">Causes</a>
        </span> | 
        <span class="top">
          Top: <a [routerLink]="" (click)=backToTop()>Back to Top</a>
        </span> | 
        <span class="next">
          Next: <a routerLink="/skin-cancer/diagnosis">Diagnosis</a> >
        </span>
      </b>
    </p>
  </mat-card>