<div>
  <div>
    <p class="second-block" style="margin-top: 0%;"><br>WHAT ARE THE DIFFERENT SKIN TYPES?</p>
    <p class="content-text">
        Did you know that there are different skin types and each of them has a different reaction to the sun. 
        You can't tell what skin type you are by just looking at your own skin. 
        Therefore, we'll be using a skin typing technique developed by Fitzpatrick called "Fitzpatrick skin typing". 
        In short, this guy scientifically classify skins into different types based on the skin reactions to the sun. 
        <br><br>
        Below is a simple quiz to determine your skin type. 
        Just answer these simple questions and you will know your skin type in a matter of seconds. 
        Once you get to know your skin type from the quiz, you can take the right measures to protect yourself and your skin.
    </p>
    <p><br></p>
  </div>
  <div>
      <p class="second-block"><br>A simple quiz that will help you identify your skin type.</p>
    <p><br></p>
    <iframe id="interactApp5cc12ea1539d8f001457d4fa" width="800" height="600"
      style="border:none;max-width:100%;margin:0;" allowTransparency="true" frameborder="0"
      src="https://quiz.tryinteract.com/#/5cc12ea1539d8f001457d4fa?method=iframe"></iframe>
  </div>
  <div class="grey-block">
    <p><br></p>
    <p class="content-text">
      This is a semi-subjective classification because it was built by interviewing people's past reactions of being under the sun. 
      After picking out different trends, six groups were identified (What Are the Fitzpatrick Skin Types?, 2019).
      <br><br>
      You may not be able to satisfy all the characteristics of any one type, so you should choose the feature that best describes you (What Are the Fitzpatrick Skin Types?, 2019).
      <br><br>
      What Are the Fitzpatrick Skin Types?. (2019). Retrieved from <a href="https://www.healthline.com/health/beauty-skin-care/fitzpatrick-skin-types">https://www.healthline.com/health/beauty-skin-care/fitzpatrick-skin-types</a>
    </p>
    <p><br></p>
  </div>

  <button mat-icon-button class="up">
    <a href="prevention#back">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </a>
  </button>
</div>