.main-image-wrap {
    max-height: 500px;
    overflow: hidden;
  }
  
.main-image {
    width: 100%;
    filter: brightness(60%);
}

div {
    text-align: center;
}

.main-slogan {
    color: white;
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
    font-size: 300%;
    z-index: 10;
}

.back-to-top {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 30px;
    background: #3f51b5;
    text-align: center;
    line-height: 50px;
    z-index: 1;
    opacity: 0.5;
}

.back-to-top:hover {
    opacity: initial;
}

.up-arrow {
    font-size: 24px;
    font-weight: bold;
    padding: 18px;
    color: white;
}

/* .back-to-top {
    position: sticky;
    width: 50px;
    height: 50px;
    bottom: 45px;
    right: 45px;
    background: #3f51b5;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    margin-bottom: 10px;
} */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media all and (max-width: 1500px){
    .main-slogan {
        color: white;
        position: absolute;
        top: 21vw;
        font-weight: 900;
        font-size: calc(30px + 1vw);
        z-index: 10;
    }
  }
  
@media all and (max-width: 1200px) {
    .main-image-wrap {
      max-height: 450px;
    }
}
  
@media all and (max-width: 1000px) {
    .main-slogan {
      top: 23vw;
    }
  
    .main-image-wrap {
      max-height: 400px;
    }
}

@media all and (max-width: 800px) {
    .main-image-wrap {
      max-height: 340px;
    }
}
  
@media all and (max-width: 700px) {
    .main-slogan {
        color: white;
        position: absolute;
        top: 35vw;
        font-weight: 900;
        z-index: 10;
    }
  
    .main-image-wrap {
      max-height: 380px;
    }
}

.second-block {
    font-weight: bold;
    font-size: xx-large;
    color: black;
}

.third-block {
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.block2 div {
    padding: 40px 40px 40px 40px;
}

.block2 div mat-card {
    padding: 0px 0px 0px 0px;
    height: 300px;
    width: 400px;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.block2 div mat-card img {
    max-width: 400px;
    max-height: 300px;
}

.block2-sub {
    font-weight: bold;
    font-size: x-large;
}

.block4 div {
    padding: 5px;
}

.block4 div {
    padding: 40px 40px 40px 40px;
}

.block4 div mat-card {
    padding: 0px 0px 0px 0px;
    height: 200px;
    width: 200px;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.block4 div mat-card img {
    max-width: 300px;
    max-height: 200px;
}

.block3 mat-card {
    padding: 0px;
}

.sub-nav mat-card {
    position: absolute;
    top: 40%;
    margin: 10px 40px 40px 10px;
    text-align: left;
    padding: 20px;
    line-height: 16pt;
    position: fixed;
    background-color: #3f51b5;
    z-index: 999;
}

.sub-nav mat-card p {
    color: white;
}

.wi {
    font-size: 40px;
}

.map-block {
    background-color: #3f51b5;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-text {
    text-align: left;
    font-size: 16px;
    font-family: Arial;
    line-height: 22.35px;
    padding: 0px 80px 0px 80px;
}

.content-text-disclaimer {
    text-align: left;
    font-size: 16px;
    font-family: Arial;
    line-height: 22.35px;
    padding: 40px 80px 40px 80px;
    margin-bottom: 0px;
}

.example-h2 {
    margin: 10px;
}
  
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}
  
.example-margin {
    margin: 10px;
}
  
.mat-slider-horizontal {
    width: 300px;
}
  
.mat-slider-vertical {
    height: 300px;
}

.grey-block {
    background-color: #efefef;
}

.blue-block {
    color: white;
    background-color: #3f51b5;
}

.parameters mat-form-field {
    padding: 20px;  
}

.frame {
    margin: 20px 40px 20px 30px;
    border-radius: 5%;
    height: 85%;
}

.grey-block p,ul {
    text-align: justify;
}

.question-img {
    width: 60%;
    height: 85%;
}