<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-card-title><b>Treatment for Skin Cancer</b></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      The most common treatment for skin cancer is to remove the cancer cells via surgery, which is done with local anaesthesia. 
      Furthermore, it can be treated with ointment or radiotherapy.
      <br>
      Skin cancer can also be removed by the following 2 methods:
    </p>
    <ul>
      <li>Curettage and Cauterization (C&C) – Removing the cancer cells by scraping it out and burning the removed part to kill any remaining cancer cells.</li>
      <li>Cryotherapy – Freezing cancer cells with liquid nitrogen.</li>
    </ul>
    <p>
      In the above cases, skin cancer is almost always eliminated. 
      In more severe cases of skin cancer, surrounding issues may be removed to guarantee that all cancer cells are indeed removed from the skin. 
      If you require further information on skin cancer, please contact the Cancer Committee at <strong>13 11 20</strong> or consult your local GP.
    </p>
  </mat-card-content>
</mat-card>