<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-card-title><b>Treatment for Skin Cancer</b></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      The most common treatment for skin cancer is to remove the cancer cells via surgery, which is done with local anaesthesia. 
      Furthermore, it can be treated with ointment or radiotherapy (Cancer Council Australia, 2019).
      <br><br>
      According to Cancer Council Victoria (2019), skin cancer can also be removed by the following 2 methods:
    </p>
    <ul>
      <li>Curettage and Cauterization (C&C) – Scraping cancer cells out and burning the removed part to kill any remaining cancer cells.</li>
      <li>Cryotherapy – Freezing cancer cells with liquid nitrogen.</li>
    </ul>
    <p>
      In the above cases, skin cancer is almost always eliminated. 
      In more severe cases of skin cancer, surrounding issues may be removed to guarantee that all cancer cells are indeed removed from the skin (Cancer Council Australia, 2019).
      <br><br>
    </p>
  </mat-card-content>
  <mat-card-header>
    <mat-card-title><b>References</b></mat-card-title>
  </mat-card-header>
  <p>Skin cancer - Cancer Council Victoria. (2019). Retrieved from <a href="https://www.cancervic.org.au/cancer-information/types-of-cancer/skin_cancers_non_melanoma/treatement_for_non-melanoma_skin_cancer.html">https://www.cancervic.org.au/cancer-information/types-of-cancer/skin_cancers_non_melanoma/treatement_for_non-melanoma_skin_cancer.html</a></p>
  <p>Treatment for skin cancer - Cancer Council Australia. (2019). Retrieved from <a href="https://www.cancer.org.au/about-cancer/types-of-cancer/skin-cancer.html#jump_5">https://www.cancer.org.au/about-cancer/types-of-cancer/skin-cancer.html#jump_5</a></p>
</mat-card>