<mat-card class="mat-elevation-z8">
  <mat-card-header>
    <mat-card-title><b>Treatment for skin cancer</b></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      The most common treatment for skin cancer is surgical removal of cancer cells (usually under local
      anesthesia). Common skin cancer can be treated with ointment or radiotherapy. Skin cancer can also be removed
      by cryotherapy (using liquid nitrogen to quickly freeze cancer cells), curettage (scraping) or cauterization
      (burning).
      Skin cancer is almost always removed. In more advanced skin cancers, some surrounding tissues may also be
      removed to ensure that all cancer cells are removed.
      For more detailed information on skin cancer, please call the Cancer Committee at 1311 20 or consult your GP.
    </p>
  </mat-card-content>
</mat-card>