<mat-card class="mat-elevation-z8">
    <mat-card-title><b>Types of Skin Cancer</b></mat-card-title>
    <mat-card-content>
      <p>
        There are three main types of skin cancer according to <a href="https://www.cancer.org.au/about-cancer/types-of-cancer/skin-cancer/non-melanoma.html">Cancer Council Australia (2019a)</a>: <br></p>
      <ul>
        <li>Basal cell carcinoma (BCC)</li>
        <li>Squamous cell carcinoma (SCC)</li>
        <li>Melanoma - the most dangerous form of skin cancer <br></li>
      </ul>
      <br>
    </mat-card-content>
    <mat-card-title><b>Non-melanoma</b></mat-card-title>
    <mat-card-content>
      <p>
        Both basal cell carcinoma and squamous cell carcinoma are known as non-melanoma skin cancer (<a href="https://www.cancer.org.au/about-cancer/types-of-cancer/skin-cancer.html">Cancer Council Australia, 2019b</a>). 
        Non-melanoma skin cancer is the most commonly diagnosed cancer in Australia, but most of them are not life-threatening (<a href="https://www.cancer.org.au/about-cancer/types-of-cancer/skin-cancer/non-melanoma.html">Cancer Council Australia, 2019a</a>). 
        In 2016, 679 people died of non-melanoma skin cancer in Australia (<a href="https://www.cancer.org.au/about-cancer/types-of-cancer/skin-cancer.html">Cancer Council Australia, 2019b</a>).
        <br><br>
      </p>
    </mat-card-content>
    <mat-card-title><b>Melanoma</b></mat-card-title>
    <mat-card-content>
      <p>
        Melanoma is a cancer that occurs in skin pigmented cells (melanocytes). 
        Melanocytes produce melanin, which helps protect the skin from Ultraviolet (UV) radiation. 
        When melanocytes accumulate on the skin in childhood or adolescence, they form nevi. 
        Most nevi are safe, but sometimes melanocytes in nevi begin to grow and divide uncontrollably. 
        If they begin to grow uncontrollably outward or downward, they may become melanomas. 
        Melanoma is one of the most serious skin cancers. 
        If left untreated, it will grow rapidly. 
        It can spread to the lower part of the skin (dermis), into the lymphatic system or blood flow, and then to other parts of the body, such as lungs, liver, brain or bone (<a href="https://www.melanoma.org.au/understanding-melanoma/what-is-melanoma/">Melanoma Institute Australia, 2019</a>).
        <br><br>
      </p>
    </mat-card-content>
      <!-- <p>Non-melanoma cancer - Cancer Council Australia. (2019a). Retrieved from <a href="https://www.cancer.org.au/about-cancer/types-of-cancer/skin-cancer/non-melanoma.html">https://www.cancer.org.au/about-cancer/types-of-cancer/skin-cancer/non-melanoma.html</a></p>
      <p>Skin cancer - Cancer Council Australia. (2019b). Retrieved from <a href="https://www.cancer.org.au/about-cancer/types-of-cancer/skin-cancer.html">https://www.cancer.org.au/about-cancer/types-of-cancer/skin-cancer.html</a></p>
      <p>What is melanoma? - Melanoma Institute Australia. (2019). Retrieved from <a href="https://www.melanoma.org.au/understanding-melanoma/what-is-melanoma/">https://www.melanoma.org.au/understanding-melanoma/what-is-melanoma/</a></p> -->
    </mat-card>