<mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title><b>Types of Skin Cancer</b></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        There are three main types of skin cancer: <br></p>
      <ul>
        <li>Basal cell carcinoma (BCC)</li>
        <li>Squamous cell carcinoma (SCC)</li>
        <li>Melanoma - the most dangerous form of skin cancer <br></li>
      </ul>
    </mat-card-content>
    <mat-card-header>
      <mat-card-title>Non-melanoma </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Both basal cell carcinoma and squamous cell carcinoma are known as non-melanoma skin cancer. Non-melanoma skin
        cancers are the most common cancers in Australia. However, most are not life-threatening. These are not
        invasive cancers, however, may require treatment as some may develop into non-melanoma skin cancers.
        In 2016, there were 679 recorded deaths in Australia from non-melanoma skin cancers.
        <br><br>
      </p>
    </mat-card-content>
    <mat-card-header>
      <mat-card-title>Melanoma</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Melanoma is cancer that occurs in skin pigmented cells (melanocytes).
        Melanocytes produce melanin, which helps protect the skin from ultraviolet (or sunlight) radiation. When
        melanocytes accumulate in the skin during childhood or adolescence, they form a mole.
        Most nevi are fairly safe, but sometimes melanocytes in nevi begin to grow and divide uncontrollably. If they
        begin to grow in an uncontrolled way, either outward or downward, they may become melanomas.
        Melanoma is one of the most serious skin cancers. If untreated, it will grow rapidly. It can spread to the
        lower part of the skin (dermis), into the lymphatic system or blood flow, and then to other parts of the body,
        such as lungs, liver, brain or bone.
      </p>
    </mat-card-content>
    </mat-card>