.main-image-wrap {
    max-height: 700px;
    overflow: hidden;
  }
  
.main-image {
    width: 100%;
}


div {
    text-align: center;
}

.main-slogan {
    color: black;
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
    font-size: 300%;
    z-index: 10;
    text-align: center;
}

@media all and (max-width: 1500px){
    .main-slogan {
      position: absolute;
      top: 21vw;
      font-weight: 900;
      font-size: calc(30px + 1vw);
      z-index: 10;
    }
}
    
@media all and (max-width: 1200px) {
    .main-image-wrap {
      max-height: 650px;
    }
}
    
@media all and (max-width: 1000px) {
    .main-slogan {
      top: 23vw;
    }
  
    .main-image-wrap {
      max-height: 650px;
    }
}
  
@media all and (max-width: 800px) {
    .main-image-wrap {
      max-height: 500px;
    }
}

@media all and (max-width: 700px) {
    .main-slogan {
      position: absolute;
      top: 35vw;
      font-weight: 900;
      z-index: 10;
    }
  
    .main-image-wrap {
      max-height: 450px;
    }
}

@media all and (max-width: 420px) {
  .main-slogan {
      font-size: calc(25px + 1vw);
  }
}