.main-image-wrap {
    max-height: 500px;
    overflow: hidden;
  }
  
.main-image {
    width: 100%;
    filter: brightness(60%);
}

div {
    text-align: center;
}

.sub-slogan {
    font-size: 60%;
    white-space: nowrap;
}

.main-slogan {
    color: white;
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
    font-size: 300%;
    z-index: 10;
}

.top {
    white-space: nowrap;
}

/* .bottom {
    white-space: nowrap;
} */

.read-more {
    position: absolute;
    background: #6ec1e4;
    color: #ffffff;
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 20px 5px 20px;
    border-radius: 15px;
    font-size: x-large;
    z-index: 10;
}

.read-more a{
    color: white;
    text-decoration: none;
}

.sub-heading-text {
    font-size: 1em;
    max-height: 3em;
    line-height: 1em;
    overflow: hidden;
    /* white-space: nowrap;
    text-overflow: ellipsis; */
}

.content-text {
    text-align: center;
    font-size:16px;
    font-family: Arial;
    line-height: 22.35px;
    padding: 0px 80px 40px 80px;
}

@media all and (max-width: 1500px){
    .main-slogan {
      color: white;
      position: absolute;
      top: 20vw;
      font-weight: 900;
      font-size: calc(30px + 1vw);
      z-index: 10;
    }
}
    
@media all and (max-width: 1200px) {
    .main-image-wrap {
      max-height: 450px;
    }

    .read-more {
        top: 40vw;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 5px 20px 5px 20px;
        border-radius: 15px;
    }
}
    
@media all and (max-width: 1000px) {
    .main-slogan {
        top: 21vw;
    }
  
    .main-image-wrap {
        max-height: 400px;
    }

    .read-more {
        top: 42vw;
        font-size: calc(8px + 1vw);
    }
}
  
@media all and (max-width: 800px) {
    .main-image-wrap {
        max-height: 340px;
    }

    .read-more {
        top: 44vw;
        /* font-size: calc(15px + 1vw); */
    }
}
    
@media all and (max-width: 700px) {
    .main-slogan {
        top: 27vw;
    }
  
    .main-image-wrap {
        max-height: 380px;
    }

    .read-more {
        top: 58vw;
    }
}

@media all and (max-width: 420px) {
    .main-slogan {
        top: 30vw;
        font-size: calc(25px + 1vw);
    }

    .read-more {
        top: 65vw;
    }
}

.second-block {
    font-weight: bold;
    font-size: xx-large;
}

.sub-heading {
    font-weight: bold;
    font-size: x-large;
    white-space: nowrap;
}

.block2 div {
    padding: 10px 20px 10px 20px;
}

.block2 div mat-card {
    padding: 0px 0px 0px 0px;
    height: 300px;
    width: 400px;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.block2 div mat-card img {
    max-width: 400px;
    max-height: 300px;
}

.block2-sub {
    font-weight: bold;
    font-size: x-large;
}

.block4 div {
    padding: 5px;
}

.block4 div {
    padding: 40px 40px 40px 40px;
}

.block4 div mat-card {
    padding: 0px 0px 0px 0px;
    height: 225px;
    width: 350px;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.block4 div mat-card img {
    max-width: 400px;
    max-height: 225px;
}

.block3 mat-card {
    padding: 0px;
}

.sub-nav {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
    padding: 20px;
    background-color: transparent;
    z-index: 999;
}

.sub-nav-mobile {
    padding: 20px;
    z-index: 999;
    border: 0px;
}

.sub-nav-mobile p {
    margin-left: 30px;
    display: inline-block;
}

.sub-nav p {
    color: white;
    padding: 15px;
    display: inline;
}

.wi {
    font-size: 40px;
}

.material-icons.md { 
    font-size: 65px;
    color: white;
}

.circle-icon {
    background: #6ec1e4;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 15px;
}

.circle-icon:hover {
    transform: scale(0.90);
    cursor: pointer;
}

.back-to-top {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 30px;
    background: #3f51b5;
    text-align: center;
    line-height: 50px;
    z-index: 1;
    opacity: 0.5;
}

.back-to-top:hover {
    opacity: initial;
}

.up-arrow {
    font-size: 24px;
    font-weight: bold;
    padding: 18px;
    color: white;
}