<div>
    <div class="main-image-wrap">
        <img src='../../assets/img/homepage-new.jpg' class="main-image"/>
    </div>
    <div fxHide.lt-md="true" class="sub-nav">
        <p matTooltip="weather summary" *ngIf="this.icon == 'clear-night'"><i class="wi wi-night-clear"></i>&nbsp;Clear Night</p>
        <p matTooltip="weather summary" *ngIf="this.icon == 'clear-day'"><i class="wi wi-day-sunny"></i>&nbsp;Clear Day</p>
        <p matTooltip="weather summary" *ngIf="this.icon == 'rain'"><i class="wi wi-rain"></i>&nbsp;Rain</p>
        <p matTooltip="weather summary" *ngIf="this.icon == 'snow'"><i class="wi wi-snow"></i>&nbsp;Snow</p>
        <p matTooltip="weather summary" *ngIf="this.icon == 'sleet'"><i class="wi wi-sleet"></i>&nbsp;Sleet</p>
        <p matTooltip="weather summary" *ngIf="this.icon == 'wind'"><i class="wi wi-windy"></i>&nbsp;Windy</p>
        <p matTooltip="weather summary" *ngIf="this.icon == 'fog'"><i class="wi wi-fog"></i>&nbsp;Foggy</p>
        <p matTooltip="weather summary" *ngIf="this.icon == 'cloudy'"><i class="wi wi-cloudy"></i>&nbsp;Cloudy</p>
        <p matTooltip="weather summary" *ngIf="this.icon == 'partly-cloudy-day'"><i class="wi wi-night-partly-cloudy"></i>&nbsp;Partly Cloudy</p>
        <p matTooltip="weather summary" *ngIf="this.icon == 'partly-cloudy-night'"><i class="wi wi-night-alt-partly-cloudy"></i>&nbsp;Partly Cloudy</p>
        <p matTooltip="temperature in °C"><i class="wi wi-thermometer"></i>&nbsp;&nbsp;&nbsp;{{this.degreeTemperature}}&nbsp;°C</p>
        <p matTooltip="humidity %"><i class="wi wi-humidity"></i>&nbsp;&nbsp;&nbsp;{{this.humidity}}%</p>
        <p matTooltip="cloud cover %"><i class="wi wi-cloud"></i>&nbsp;&nbsp;&nbsp;{{this.cloudCover}}%</p>
        <p matTooltip="uv index"><i class="wi wi-day-sunny"></i>&nbsp;UV:&nbsp;&nbsp;&nbsp;{{this.uvIndex}}</p>
    </div>
    <p class="main-slogan">
        <span class="sub-slogan">A Skin Cancer Free Future</span>
        <br>
        <span class="top">SUN PROTECTION</span>
        <span class="bottom"> FOR EVERYONE</span>
    </p>
    <a href="home#features">
        <button class="read-more mat-elevation-z8">Learn More!</button>
    </a>
</div>
<div fxLayout fxLayout.lt-md="column">
    <div fxHide.gt-sm="true" class="sub-nav-mobile">
        <mat-card>
            <p matTooltip="weather summary" *ngIf="this.icon == 'clear-night'"><i class="wi wi-night-clear"></i>&nbsp;Clear Night</p>
            <p matTooltip="weather summary" *ngIf="this.icon == 'clear-day'"><i class="wi wi-day-sunny"></i>&nbsp;Clear Day</p>
            <p matTooltip="weather summary" *ngIf="this.icon == 'rain'"><i class="wi wi-rain"></i>&nbsp;Rain</p>
            <p matTooltip="weather summary" *ngIf="this.icon == 'snow'"><i class="wi wi-snow"></i>&nbsp;Snow</p>
            <p matTooltip="weather summary" *ngIf="this.icon == 'sleet'"><i class="wi wi-sleet"></i>&nbsp;Sleet</p>
            <p matTooltip="weather summary" *ngIf="this.icon == 'wind'"><i class="wi wi-windy"></i>&nbsp;Windy</p>
            <p matTooltip="weather summary" *ngIf="this.icon == 'fog'"><i class="wi wi-fog"></i>&nbsp;Foggy</p>
            <p matTooltip="weather summary" *ngIf="this.icon == 'cloudy'"><i class="wi wi-cloudy"></i>&nbsp;Cloudy</p>
            <p matTooltip="weather summary" *ngIf="this.icon == 'partly-cloudy-day'"><i class="wi wi-night-partly-cloudy"></i>&nbsp;Partly Cloudy</p>
            <p matTooltip="weather summary" *ngIf="this.icon == 'partly-cloudy-night'"><i class="wi wi-night-alt-partly-cloudy"></i>&nbsp;Partly Cloudy</p>
            <p matTooltip="temperature in °C"><i class="wi wi-thermometer"></i>&nbsp;&nbsp;&nbsp;{{this.degreeTemperature}}&nbsp;°C</p>
            <p matTooltip="humidity %"><i class="wi wi-humidity"></i>&nbsp;&nbsp;&nbsp;{{this.humidity}}%</p>
            <p matTooltip="cloud cover %"><i class="wi wi-cloud"></i>&nbsp;&nbsp;&nbsp;{{this.cloudCover}}%</p>
            <p matTooltip="uv index"><i class="wi wi-day-sunny"></i>&nbsp;UV:&nbsp;&nbsp;&nbsp;{{this.uvIndex}}</p>
        </mat-card>
    </div> 
</div>
<div>
    <p class="second-block">OUR GOAL</p>
    <p class="content-text">We believed that the international student community should be aware of the dangers of skin cancer. 
        Some could have just flowed in from another country or maybe planning a trip to "hotspots" in Australia.
        Most of them don't know how damaging the UV rays can be in Australia, especially during the Summer seasons. 
        <br><br>
        Therefore, we want to prepare them to defend themselves against the Sun by providing the necessary tools to avoid getting skin cancer.
        That's why, we are committed to helping raise awareness of skin cancer among them.
        <a id="features"></a>
    </p>
</div>
<div fxLayout="row wrap" class="block2">
    <div fxFlex.xs=100% fxFlex.gt-xs=50%  fxFlex.gt-md=25% fxLayout="column">
        <a routerLink="/skin-cancer"><mat-icon class="circle-icon md ">local_hospital</mat-icon></a>
        <div>
            <p class="sub-heading">Information</p>
            <p class="sub-heading-text">Don't know what skin cancer is? Learn more about skin cancer here.</p>
        </div>
    </div>
    <div fxFlex.xs=100% fxFlex.gt-xs=50%  fxFlex.gt-md=25% fxLayout="column">
        <a routerLink="/prevention"><mat-icon class="circle-icon md ">healing</mat-icon></a>
        <div>
            <p class="sub-heading">Prevention</p>
            <p class="sub-heading-text">Check your current risk level of getting burned under the sun and our recommendations to avoid it.</p>
        </div>
    </div>
    <div fxFlex.xs=100% fxFlex.gt-xs=50%  fxFlex.gt-md=25% fxLayout="column">
        <a routerLink="/map"><mat-icon class="circle-icon md ">map</mat-icon></a>
        <div>
            <p class="sub-heading">Clinics</p>
            <p class="sub-heading-text">A clinic may be around the corner. Search for your local skin care clinics here.</p>
        </div>
    </div>
    <div fxFlex.xs=100% fxFlex.gt-xs=50%  fxFlex.gt-md=25% fxLayout="column">
        <a routerLink="/trip"><mat-icon class="circle-icon md ">directions_walk</mat-icon></a>
        <div>
            <p class="sub-heading">Plan</p>
            <p class="sub-heading-text">Plan ahead in sun protection by checking how much sunscreen is needed before heading off.</p>
        </div>
    </div>
</div>
<a [routerLink]="" (click)=backToTop() class="back-to-top"><mat-icon class="up-arrow">arrow_upwards</mat-icon></a>