<div id="backTT">
    <p class="sub-slogan">We Believe in a Skin Cancer free Future</p>
</div>
<div>
    <p class="main-slogan">SUN PROTECTION FOR EVERYONE</p>
</div>
<div>
    <button class="read-more mat-elevation-z8" mat-button routerLink="/skin-cancer">Learn More</button>
</div>
<div>
    <img src='../../assets/img/homepage_pic.jpg' class="main-image mat-elevation-z22"/>
</div>
<div fxLayout fxLayout.lt-md="column">
    <div fxHide.lt-md="true" class="sub-nav " fxFlex=25%>
      <mat-card class="mat-elevation-z8">
      </mat-card>
    </div>
  </div>
<div>
    <p class="second-block">QUESTIONS ABOUT SKIN CANCER</p>
</div>
<div fxLayout fxLayout.lt-md="column" class="block2">
    <div fxFlex=50%>
        <mat-card class="mat-elevation-z8">
            <img src="../../assets/img/block2-1.jpg" />
        </mat-card>
        <p class="block2-sub">WHAT IS SKIN CANCER?</p>
        <h4>Skin Cancer is the uncontrolled growth of abnormal skin cells.</h4>
        <button class="learn-more mat-elevation-z8" routerLink="/skin-cancer" 
        formtarget="cancer" mat-button routerLink="/skin-cancer/cancer">Learn More</button>
    </div>
    <div fxFlex=50%>
        <mat-card class="mat-elevation-z8">
            <img src="../../assets/img/block2-2.jpg" />
        </mat-card>
        <p class="block2-sub">CAUSES OF SKIN CANCER?</p>
        <h4>Ultraviolet radiation is the main cause of skin cells becoming cancer cells.</h4>
        <button class="learn-more mat-elevation-z8" mat-button routerLink="/skin-cancer/causes">Learn More</button>
    </div>
</div>
<div class="block3">
    <mat-card class="mat-elevation-z22">
            <img src="../../assets/img/block3.jpg"/>
    </mat-card>
</div>
<div fxLayout fxLayout.lt-md="column" class="block4">
    <div fxFlex=33%>
        <p class="second-block">SKIN CANCER PREVENTION<br><br></p>
        <h4>Get advice and tips on ways you can reduce your risk of skin cancer</h4>
        <button class="learn-more mat-elevation-z8" mat-button routerLink="/skin-cancer/prevention">Learn More</button>
    </div>
    <div fxFlex=33%>
        <mat-card class="mat-elevation-z8" style="margin-bottom:20px;">
            <img src="../../assets/img/block4-1.jpg" />
        </mat-card>
        <mat-card class="mat-elevation-z8" style="margin-bottom:20px;">
            <img src="../../assets/img/block4-2.jpg" />
        </mat-card>
    </div>
    <div fxFlex=33%>
        <mat-card class="mat-elevation-z8" style="margin-bottom:20px;">
            <img src="../../assets/img/block4-3.jpg" />
        </mat-card>
        <mat-card class="mat-elevation-z8" style="margin-bottom:20px;">
            <img src="../../assets/img/block4-4.jpg" />
        </mat-card>
    </div>
</div>

<button mat-icon-button class="up">
    <a href="home#backTT"><mat-icon>keyboard_arrow_up</mat-icon></a>
</button>