.main-image-wrap {
    max-height: 500px;
    overflow: hidden;
  }
  
.main-image {
    width: 100%;
    filter: brightness(60%);
}

div {
    text-align: center;
}

.main-slogan {
  color: white;
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 300%;
  z-index: 10;
}

.content-text {
  text-align: left;
  font-size:16px;
  font-family: Arial;
  line-height: 22.35px;
  padding: 0px 80px 40px 80px;
}


@media all and (max-width: 1500px){
  .main-slogan {
    color: white;
    position: absolute;
    top: 21vw;
    font-weight: 900;
    font-size: calc(30px + 1vw);
    z-index: 10;
  }
}
  
@media all and (max-width: 1200px) {
  .main-image-wrap {
    max-height: 450px;
  }
}
  
@media all and (max-width: 1000px) {
  .main-slogan {
    top: 23vw;
  }

  .main-image-wrap {
    max-height: 400px;
  }
}

@media all and (max-width: 800px) {
  .main-image-wrap {
    max-height: 340px;
  }
}
  
@media all and (max-width: 700px) {
  .main-slogan {
    color: white;
    position: absolute;
    top: 35vw;
    font-weight: 900;
    z-index: 10;
  }

  .main-image-wrap {
    max-height: 380px;
  }
}

@media all and (max-width: 600px) {
  .content-text {
    padding: 0px 40px 40px 40px;
  }
}

@media all and (max-width: 420px) {
  .main-slogan {
    font-size: calc(25px + 1vw);
  }
}

.second-block {
  font-weight: bold;
  font-size: xx-large;
  color: black;
}

.back-to-top {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 30px;
  background: #3f51b5;
  text-align: center;
  line-height: 50px;
  z-index: 1;
  opacity: 0.5;
}

.back-to-top:hover {
  opacity: initial;
}

.up-arrow {
  font-size: 24px;
  font-weight: bold;
  padding: 18px;
  color: white;
}