<div>
  <div class="main-image-wrap">
    <img src='../../assets/img/disclaimer.jpg' class="main-image"/>
  </div>
  <p class="main-slogan">DISCLAIMER OF LIABILITY</p>
  <div>
    <p class="second-block" style="margin-top: 0%;"><br>DISCLAIMER OVERVIEW</p>
    <p class="content-text">
      Any information, content, pictures and material on this website is only for information purposes only. 
      We provide information to the best of our knowledge and accuracy.
      Therefore, the information provided in this website should not be taken as professional advice. 
      Always seek consultation from a professional health practitioner.
      <br><br>
      If you are experiencing any health issues, you should seek medical advice from a doctor or go to the nearest clinic or hospital.
      There are external links to other websites which you may follow at your own risk. 
      Smiling Skin is not responsible for any information contained in external websites. 
      Furthermore, if you choose to follow any recommendations or suggestions provided by us, it is your sole responsibility to follow it at your own risk.
    </p>
  </div>
</div>
